[2018-10-03 04:56] erp12 opened #3 "Cannot build workspace after following README"
**Describe the bug**
I am excited to try out polylith, but I hit a snag while following along with the README. After creating a workspace and a system, I seem to get an error on `build` at the point of compiling workspace interfaces.  I have `lein` on my path and I can't think of anything non-standard about my install. Let me know if there are any details I left out of this report.

**To Reproduce

[2018-10-03 05:55] tengstrand commented on #3
Glad to hear that you are excited, because we feel the same! :-)

Ok, got to the workspace root and execute:

[code]

What do you get?

You should get something like this:

Compiling se.example.user.interface
Created /Users/joakimtengstrand/projects/example/interfaces/target/interfaces-1.0.jar
Wrote /Users/joakimtengstrand/projects/example/interfaces/pom.xml
Installed jar and pom into local repo.

[2018-10-05 13:12] paulrd opened #4 "Creating system does not create link to base testing code"
**Describe the bug**
When a new system is created, there should be a test directory created along with a source directory. This directory is not created.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the example in the README
2. Run ```lein polylith create s cmd-line cmd-line```
3. Notice that no test directory exists in the system/cmd-line directory

**Expected behavior**
There sho

[2018-10-05 14:36] tengstrand commented on #4
Hi!
You can find the test in `bases/cmd-line/test/se/example/cmd_line/core_test.clj`.
I need to update the documentation, thanks for spotting that!
Besides that, everything works as it should.

To explain this I want you to execute this from the *workspace* root:
[code]
This will list:
[code]
As you can see, the `src` directory is just a set of symbolic links to the `cmd-line` _base_ and two more

[2018-10-05 14:36] #4 closed

[2018-10-08 20:53] erp12 commented on #3
I think I got the intended output. I didn't get a message of compiling anything.

[code]

[2018-10-09 03:38] tengstrand commented on #3
Hi,
Please zip the whole workspace directory (`/Users/eddie/Projects/Software/example`) and email it to me, and then I will have a look. You have the email address at the end of the documentation.

[2018-10-09 04:17] tengstrand commented on #3
Type:
`find /Users/eddie/Projects/Software/example | grep -v '/classes' | grep -v '/\.' | grep -v '/target'`

What do you get?

You should get this:
[code]

[2018-10-15 09:21] tengstrand opened #5 "Prompt doesn't show error messages"
**Describe the bug**
When running commands from the prompt, if an exception is thrown, the error message is not displayed.

**Expected behavior**
Show error messages when running the prompt.

**Versions**
 - Polylith: [0.1.1]

[2018-10-15 09:29] tengstrand opened #6 "Always use interface name as package name"
**Is your feature request related to a problem? Please describe.**
Simplifies the package structure when more than one component conforms to the same interface.

**Describe the solution you'd like**
Example. Before:
user2/src/com.example.user2.core.clj
user2/src/com.example.user.interface.clj

After:
user2/src/com.example.user.core.clj
user2/src/com.example.user.interface.clj

Also fix the 'info'

[2018-10-16 18:58] furkan3ayraktar opened #7 "Limit deployments to Clojars"
**Is your feature request related to a problem? Please describe.**
CircleCI is deploying to Clojars every time someone pushes to master branch

**Describe the solution you'd like**
Only deploy to Clojars if a commit is marked with a version tag. (e.g. `/^v.*/`)

[2018-10-20 18:07] residentsummer opened #9 "Don't know how to create ISeq from: clojure.lang.Symbol"
**Describe the bug**
While following the guide to migrate an existing project to polylith, I've copied all the source into an empty base, then run "sync" command. Here is the output:

[code]

After that, `sync` and most of other commands produced just the error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workspace, system and a base.
2. In a base's `core.clj` add a

[2018-10-20 18:33] tengstrand commented on #9
Yes, this looks like a proper bug.
Good job that you managed to narrow it down.
I will fix this in the next release, 0.1.2.

I'm glad that you appreciate the documentation!

If you find any other problems, don't hesitate to contact us.

[2018-10-22 15:05] furkan3ayraktar opened #10 "Info command should display correct component names"
**Describe the bug**
When having multiple implementations of the same _interface_, `info` command displays the _interface_ name instead of the _component_ name.

**To Reproduce**
1. Create component, `user`
2. Create another component, `user-dev` with interface `user`
3. Create another environment, `production`
3. Add `user-dev` to `development` environment
4. Add `user` to `production` environmen

[2018-10-22 15:17] #7 closed

[2018-10-27 16:03] furkan3ayraktar commented on #3
I'm closing this due to inactivity.

[2018-10-27 16:03] #3 closed

[2018-10-27 16:05] furkan3ayraktar commented on #5
I could not reproduce this. If it happens again, we can reopen the issue.

[2018-10-27 16:05] #5 closed

[2018-10-27 16:53] #6 closed

[2018-10-27 16:53] #9 closed

[2018-10-27 16:53] #10 closed

[2018-10-31 14:37] furkan3ayraktar opened #14 "Resources folder has wrong name"
**Describe the bug**
When created another component with the same interface, resources folder has the name of component not the interface. It should have the name of the interface.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component (e.g. `lein polylith create c user`)
2. Create another component with same interface (e.g. `lein polylith create c user-2 user`)
3. Navigate to `c

[2018-10-31 14:49] furkan3ayraktar commented on #14
Also related to this issue:

In the core-test namespace of the second component, when code requires core, it requires it with the component name (user-2) instead of interface name (user).

[2018-11-02 02:20] JAremko opened #15 "Compatibility with Emacs (Cider)"
symbolic links in source sub-folders have an issue with Emacs and Cider https://github.com/clojure-emacs/cider/issues/2505

*for the reference*

[2018-11-02 14:39] miridius opened #16 "Polylith says I have $CLASSPATH set even though it is not"
**Describe the bug**
Any time I run any polylith command in any project, it says "WARNING: You have $CLASSPATH set, probably by accident. It is strongly recommended to unset this before proceeding.", but I do not have this variable set.

**To Reproduce**
[code]

**Expected behavior**
The $CLASSPATH error does not show false positives, or, if something is actually wrong it explains the real issue.

[2018-11-02 14:56] miridius opened #17 "Alphabetical dependency sorting in project files is not alphabetical"
**Describe the bug**
I have the habit of always manually sorting dependencies alphabetically in my project.clj files, so I was suprised when `polylith sync` changed the order! It seems to happen when mixing single segment with multi segment dependencies, though I have not done much investigation other than to create the below reproducable example

**To Reproduce**
1. Create a new workspace with a

[2018-11-05 14:19] furkan3ayraktar commented on #17
I agree on this, the dependencies should keep the alphabetical order. I have the same habit to keep dependencies in alphabetical order.

I think this behavior is a result of [zprint](https://github.com/kkinnear/zprint) library. Can we do something about this or should we find another library to fix this issue @tengstrand ?

[2018-11-05 14:28] furkan3ayraktar commented on #16
The warning mentioned in the issue is not printed by the Polylith plugin, it's printed by Leiningen itself as you can see [here](https://github.com/technomancy/leiningen/blob/aba4502f59e30fd1e63c0530d8fc369683ae6c80/bin/lein#L20) in its source code. You should see the same error if you try to run any other commands using Leiningen.

Leiningen prints this warning if you have an environment variable

[2018-11-05 14:38] furkan3ayraktar commented on #15
Thanks Eugene for letting us know that [Cider](https://github.com/clojure-emacs/cider) does not support symbolic links. We've tested Polylith with [Cursive](https://cursive-ide.com) and it is my recommendation to go forward for now. I'll be following the issue in cider repository.

I'm closing the issue because we can't do anything from Polylith side. Let me know if we can help with anything.

[2018-11-05 14:38] #15 closed

[2018-11-09 22:57] miridius commented on #16
Please take a look at the command log from my original post, I did exactly as you suggested and show that it is not an issue with my classpath:
1. `echo $CLASSPATH` returns nothing.
2. Running other lein commands does not return this error.

Thanks for telling me that this comes from lein though! That makes understanding the problem a lot easier. I had a dig around in the `lein-polylith` source co

[2018-11-12 00:04] furkan3ayraktar commented on #16
Thank you @miridius for investigating this more. Here are my thoughts on the issue after spending several hours on it.

I've tried it with several __Linux__ versions and with different __Oracle__ and __OpenJDK__ versions, it seems to be like the issue happens on _Linux_ regardless of distribution or _JVM_. I've also tried to find a clue why _Leiningen_ does not include ``CLASSPATH`` on _MacOS_ but

[2018-11-13 21:36] furkan3ayraktar opened #20 "deps command doesn't calculate correctly when require is not the first thing in ns"
**Describe the bug**
deps command does not return correct result when the require statement is not the first statement inside namespace declaration.

**To Reproduce**
Steps to reproduce the behavior:
1. Create several components depending on each others interfaces
2. Include `(:gen-class)` before `(:require ...)`
3. Run `lein polylith deps`
4. No dependencies displayed

**Expected behavior**
deps

[2018-11-16 12:50] tengstrand commented on #17
I have added an issue to zprint:
https://github.com/kkinnear/zprint/issues/76

[2018-11-18 14:02] tengstrand opened #23 "Support for different name of the workspace interfaces"
**Is your feature request related to a problem? Please describe.**
When working with several workspaces that have the same :top-namespace in the workspace project.clj file, and we want to compile a component manually, the plugin can sometimes use the interfaces.jar from the other workspace, and the code will probably not compile as a result.
Another problem that also can be solved with the suggest

[2018-11-18 14:36] #14 closed

[2018-11-18 22:21] furkan3ayraktar opened #24 "Bug in linking resources folders of components when they have a different interface name"
**Describe the bug**
PR #21 causes tests failing after merging fixes to tests in PR #18. The reason of this is `delete` command does not delete the right `resources` folder, which is named with the interface name. Also same PR introduced another bug where if you create a new component with a different interface, it links the wrong resources folder to the system. This results in a bad behavior in `

[2018-11-19 16:04] #24 closed

[2018-11-19 16:10] #16 closed

[2018-11-19 16:13] #20 closed

[2018-11-20 10:26] furkan3ayraktar opened #27 "Sync fails when using a different implementation of the same interface in a system"
**Describe the bug**
When there is a component in a system with a different implementation of same interface, sync command syncs the dependencies with the original component.

**To Reproduce**
Steps to reproduce the behavior:
1. create w my-workspace com.test
2. create c comp-1
3. create c comp-2 comp-1
4. Make sure comp-1 and comp-2 has different dependencies in project.clj
5. create c comp-3
6.

[2018-12-01 09:14] tengstrand opened #29 "Implement a 'doc' command"
Add a 'doc' command that can generate a HTML based documentation of the workspace.

See suggested solution in the [What's next](https://github.com/tengstrand/lein-polylith/#whats-next) section of the documentation.

[2018-12-05 23:54] JAremko opened #30 "DRYing interface documentation"
### Context:
I have functions in my components that in addition to doc-strings use [orchestra](https://github.com/jeaye/orchestra) for specing arguments and return values.

Example from orchestra:
[code]

I also want to document my interface files.  Mainly because my IDE (Emacs) can display doc-strings/specs for symbols but also documenting public interface of a component seems like a right thing

[2019-02-13 05:45] JAremko opened #31 "coveralls.io source-code view support"
https://coveralls.io  needs access to source code files at github to display coverage.
Unfortunately it doesn't work with symlinks.

Can polylith provide a wrapper for [cloverage](https://github.com/cloverage/cloverage) to fix file paths in the coverage report that gets uploaded to https://coveralls.io?

[2019-02-14 04:52] JAremko commented on #31
I hack together  [this script](https://github.com/JAremko/spacetools/blob/7cd872ac57c4110698bfb9a48bbd4e7ad9a5ce34/scripts/coveralls/fix-paths.clj) seems to work fine(I can [preview coverage](https://coveralls.io/builds/21635669/source?filename=/components/spacedoc-io/src/spacetools/spacedoc_io/core.clj) now) but more standardized solution would be great.

[2019-02-14 08:33] furkan3ayraktar commented on #31
Hi @JAremko

I think since this is pretty specific to a tool of your choice, it's better to use a script that helps you to use the tool within your project's context, instead of adding it directly to Polylith.

We are also working on a refactoring plan for Polylith Plugin to make it more extendable. This refactor will aim to let the community to develop around the Polylith core, support more build

[2019-02-14 08:33] #31 closed

[2019-02-14 09:15] furkan3ayraktar commented on #30
Hi @JAremko

Thanks for the issue. First of all, I haven't used `orchestra` before in my projects, so let me know if I interpreted something in a wrong way.

Since Polylith uses the `workspace interfaces` only to validate that all of the components are using other components via their interfaces. Those workspace interfaces are never used in any other place, not in development, production, or REPL.

[2019-02-14 09:15] #30 closed

[2019-02-14 09:52] #27 closed

[2019-02-14 10:08] #17 closed

[2019-02-14 12:57] JAremko commented on #30
@furkan3ayraktar  No i'm talking about component interfaces. like [this one](https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app/blob/develop/components/article/src/clojure/realworld/article/interface.clj) they are [imported directly](https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app/blob/develop/bases/rest-api/src/clojure/realworld/rest_api/handler.cl

[2019-02-14 13:16] JAremko commented on #30
For example:
[code]
 Will have to be manually rewritten into:

[code]

[2019-02-14 13:33] furkan3ayraktar commented on #30
I kinda understand your use case, please correct me if I'm wrong.

The `defn-spec` macro of orchestra actually expands to a `defn` and a `spec/fdef`. Since you do not want to write `defn` and `fdef` separately, as explained [here](https://clojure.org/guides/spec#_specing_functions). When you use the macro, Polylith tool can’t find a `defn` in the `component interface` that corresponds to a `defn`

[2019-02-14 14:41] JAremko commented on #30
@furkan3ayraktar

It may work in the `defn-spec` case but it will not work if the macro needs to be expanded to the custom level. LIke if `defn-spec` expanded into something that also must be expanded one more time but not totally since we want to preserve `defn`s

Also in the case of ` defn-spec` only "side effect" is `fdef` but some other macroses may generate `def``s and `defn`s  that end up cl

[2019-02-14 15:58] JAremko commented on #30
Another big problem is keeping `defn-spec` in a component interface synced with the one in the component's implementation. I imagine it is extremely easy to forget to updating interface's doc-string or specs after component refactoring.
Even with `defn`s I sometime forget to rename argument (after renaming them in component's implementation)
Mb polylith can help with this somehow :thinking:   For

[2019-03-05 01:45] JAremko commented on #31
@furkan3ayraktar  https://codecov.io/ works fine with symlinks.
It may be Worthwhile to mention this in docs.

[2019-03-09 09:10] Kauko opened #34 "Support for tests not located in a tests/ folder"
**Is your feature request related to a problem? Please describe.**
I've taken a liking to a style of writing tests where you colocate your tests with the actual source code, i.e. you have your `defn`s immediately followed by a corresponding `deftest`. This makes it very easy to see which parts of your project are unit tested, and the tests also document how the function is supposed to be called, a

[2019-03-18 18:56] cybersapiens97 opened #35 "Template for Ring+Compojure"
**Is your feature request related to a problem? Please describe.**
No. But first, i've read the entire documentation and have seen the video that introduces Polylith and also messing up a bit with the RealWorld example. What i didn't saw anywhere was some comment about having to deal with Plugins, specifically the lein-ring plugin, which is needed to fire the ring server in an easy way. Took time

[2019-05-28 10:01] furkan3ayraktar commented on #35
Hi @cybersapiens97! The [RealWorld](https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app) example has the ring+compojure setup already to show how Polylith can be used within that context. We are also considering to add or support templates for Polylith to help people easily start with common project patterns, but we haven't decided on this yet.

If you create a repo with a si

[2019-05-28 10:01] #35 closed

[2019-07-24 12:26] 956237586 opened #37 "Could not create symbolic link"
Warning. Could not make file executable 'D:\lein\example\systems\cmd-line\build.sh':
Warning. Could not create symbolic link 'D:\lein\example/environments/D:\lein\example\environments\development/docs/cmd-line-readme.md': Illegal char <:> at index 36: D:\lein\example\environments\D:\lein\example\environments\development\docs\cmd-line-readme.md

[2019-07-24 12:30] 956237586 commented on #37
doesn't support windows?

[2019-07-27 19:25] mt0erfztxt opened #38 "Project structure can be broken when workspace's name and namespace are same"
**Describe the bug**
Not all symlinks created in workspace when its name and namespace are same and contains dashes.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
All symlinks created
[code]

**Operating System:**
 - OS: Linux Mint
 - Version: 19.1 Tessa

**Versions:**
 - Leiningen: 2.8.3
 - Java:  1.8.0_201
 - Polylith: 0.2.2

**Additional context**
As shown in

[2019-09-16 09:31] furkan3ayraktar commented on #37
Hi, in order to use polylith with Microsoft Windows, you need to use _Windows Subsystem for Linux_. You can find detailed information about it [here](https://docs.microsoft.com/en-us/windows/wsl/install-win10).

[2019-09-16 09:33] #37 closed

[2020-03-23 13:23] mukulashokjoshi commented on #37
Just a note for anyone else trying to use polylith on Windows, it is possible to create symbolic links using cygwin

[2020-05-05 22:03] samirsa opened #39 "Delete a base and a system"
**Is your feature request related to a problem? Please describe.**
polylith is a great tool, but I think it is held by small issues such as the inability to delete a base and/or a system. Having this ability would greatly enable a more exploratory approach as we design a system and work towards packaging the different components into a new base/system.

**Describe the solution you'd like**
Support

[2020-05-06 06:16] tengstrand commented on #39
Hi!
I'm glad to hear that you like the tool.
I will have a look at this.
/Joakim

[2020-05-06 17:53] tengstrand commented on #39
Let's say you create a project like this:
$ lein polylith create w example com.example
$ cd example
$ lein polylith create s system1 base1
$ lein polylith create c comp1
$ lein polylith add comp1 system1

If you want to delete 'system1' and 'base1', run these commands:
$ rm -rf bases/base1
$ rm -rf environments/development/docs/base1-readme.md
$ rm -rf environments/development/docs/system1-readme.

[2020-05-09 12:35] #39 closed

[2020-05-09 13:26] tengstrand commented on #39
We have implemented support for deletion of bases and systems now. You need to update the plugin version in project.clj from 0.2.2 to 0.2.3 in old projects to use the latest version.

[2020-06-30 08:10] mitchelkuijpers opened #42 "Create new workspace does not correctly handle dashes for the folder names"
**Describe the bug**
If you create a workspace which has dashes in the namespace. Polylith will create some folders like `my-namespace` instead of the expected `my_namespace`.

**To Reproduce**
Steps to reproduce the behavior:
First create workspace with a namespace with dashes in it.
[code]
If you step into the just created project and then try to add a system like this:

[code]
You will get the

[2020-06-30 11:24] #42 closed

[2020-06-30 11:25] mitchelkuijpers commented on #42
Wow that was fast, thank you so much!

[2020-06-30 11:35] tengstrand commented on #42
You are welcome! :-)

[2021-08-02 17:02] kendagriff opened #96 "Interfaces as unnecessary indirection and boilerplate"
**Is your feature request related to a problem? Please describe.**
When writing a component, the docs recommend the creation of a core.clj and interface.clj. What value is this adding, and does that value exceed the cost of additional indirection and boilerplate? For example, if you place docstrings on your core functions (where it belongs), you have to duplicate it in your interface for it to be

[2021-08-03 04:30] tengstrand opened #97 "Remove validation that stops a workspace to be created within another workspace"
Allow a workspace to be created in existing workspaces by deleting the old validation "A workspace should not be created within another workspace.".

[2021-08-03 04:56] tengstrand commented on #96
Hi!

If I understand your question right, you are asking why we don't put all our code in the interface namespace.

The answer is that it often makes the code easier to read and maintain, and that is also the reason we create both an `interface.clj` and an implementing `core.clj` namespace when creating a brick, because in most cases we also want one or several implementing namespaces (the `core`

[2021-08-03 07:06] #97 closed, assigned to nobody

[2021-08-03 08:08] tengstrand opened #99 "Don't ask git for sha in tests"
Don't ask git for the latest sha in the tests, because it will sometimes fail the tests.

[2021-08-03 10:10] tengstrand opened #100 "Create a compiled version of the poly tool, using GraalVM."
Investigate if it's possible to compile the poly tool using the GraalVM compiler.

If anyone is interested in helping out with this, that would be very nice!

Replaced by #101

[2021-08-03 10:17] pithyless opened #101 "GraalVM native-image support for poly tool"
**Is your feature request related to a problem? Please describe.**
Startup time is really important for developer CLI tools.

**Describe the solution you'd like**
Faster response on the CLI when running `poly`

**Describe alternatives you've considered**
One alternative would be to check if poly could run as a babashka script.

**Additional context**
I've tried to build a native-image and it _seem

[2021-08-03 10:19] tengstrand commented on #100
Replaced by issue #101

[2021-08-03 10:20] #100 closed, assigned to nobody

[2021-08-03 10:21] pithyless commented on #101
FYI, the `--allow-incomplete-classpath` is related to this issue: https://github.com/oracle/graal/issues/2626

[2021-08-03 10:22] tengstrand commented on #101
This looks really promising!

[2021-08-03 10:58] furkan3ayraktar commented on #99
Also, it could be nice to mock some of the parts in tests where we depend on the current file system. They might cause issues on CI.

[2021-08-03 10:59] pithyless commented on #101
I've tested the following commands on the polylith repo:

[code]

Tests do not seem to work, yet:

[code]

[2021-08-03 11:10] furkan3ayraktar commented on #101
I think the main showstopper is the tools.deps.alpha dependency. We use it to calculate Java classpath for running tests in the project scope. However, [Michiel's tweet](https://twitter.com/borkdude/status/1408522402246561796?s=21) gives me some hope.

[2021-08-03 11:56] borkdude commented on #101
This is likely just a reflection issue. Adding `java.lang.Exception` to a reflection config should get rid of it, or fix try to fix the reflection in Clojure itself.

[2021-08-03 11:57] borkdude commented on #101
See https://github.com/lread/clj-graal-docs#reflection

[2021-08-03 12:01] borkdude commented on #101
Yes, this is also a show-stopper for getting something like tools.build directly into babashka. The code in tools.build itself is really light weight, but the tools.deps.alpha dep makes it a lot heavier (all calls to create-basis). Compiling tools deps alpha to native works, but you'll get a binary of 100mb or so.
https://github.com/borkdude/tools-deps-native-experiment

[2021-08-03 12:46] borkdude commented on #101
To give some more ideas:

For babashka, whenever I need a classpath, either for deps in bb.edn or for `bb clojure` (which is a drop-in replacement for the Clojure CLI), I call https://github.com/borkdude/deps.clj which is a Clojure-remake of the Clojure bash script. When calling this tool, it will shell out to a Java process to calculate the classpath. In this way, I don't have to include the enti

[2021-08-04 06:58] kwojcik-blockether commented on #101
I have made polilith native-compiled work with `poly test`, hovewer it will work only for `polilith` project, since `poly test` dynamically loads classes on runtime. GraalVM doesn't support dynamic class loading for the classes that aren't resolved at build time/included in the binary.

I'm interested in making the tool GraalVM compatible, so I can work further with this, however we would have to

[2021-08-04 07:12] #99 closed, assigned to nobody

[2021-08-04 07:15] tengstrand opened #103 "Support the compact view of the deps command."
By adding "deps" to :compact-views in `workspace.edn` the `deps` command will be viewed in a more compact way.

[2021-08-04 18:41] #103 closed, assigned to nobody

[2021-08-08 01:58] kendagriff commented on #96
Thanks for the detailed explanation!

Perhaps I'm merely voicing a gripe of mine, that it's not easier to finish a public function, and call it a day; instead, it must be copied to an interface, documentation included, and now the two functions must be permanently maintained together. (Which will be forgotten at times.)

[2021-08-08 01:58] #96 closed, assigned to nobody

[2021-08-08 05:42] tengstrand opened #106 "Add a 'shell' command with history and autocomplete support."
Add a 'shell' command (will replace 'prompt') that supports history (with <arrow up>) and context sensitive autocomplete. Use the jline3 library.

[2021-08-08 06:22] tengstrand commented on #96
Yes, I haven't been consistent with that either, where to put the documentation for each function (only the interface, only the implementation, or both). One idea is to have a brief explanation in the interface and a more detailed in the implementation. But if you have a good name for the function and the parameters, then that is sometimes enough for the interface and then we can put a description

[2021-08-09 11:41] PEZ commented on #106
Have you considered making this the default for the `poly` command? So it would drop you in to the shell instead of complaining:

[code]

[2021-08-09 17:41] tengstrand opened #107 "Failing test exits the shell/prompt"
**Describe the bug**
When running the `test` command within a shell/prompt, and a test fails, then it exits back to the "parent" shell.

**To Reproduce**
`poly prompt`
`test`

**Expected behavior**
A failing test should not exit the shell/prompt.

[2021-08-11 23:58] Matthew-Ielusic opened #108 "Test Suite Cannot Resolve Multiply-Required Transitive Dependency"
**Describe the bug**

`poly test` cannot run if two components have transitive dependecies on the same Github-hosted library.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone a repo [I made to exhibit this behavior.](https://github.com/Matthew-Ielusic/MinimalBugRepro)
2. Run `poly test`
3. See error:
```Couldn't resolve libraries for the deploy project: clojure.lang.ExceptionInfo: Unabl

[2021-08-12 03:56] tengstrand commented on #108
I'm on holiday right now, but will have a look at this in the weekend.

[2021-08-12 04:11] tengstrand opened #109 "Support for running tests for code imported as :local/root"
**Is your feature request related to a problem? Please describe.**
When migrating a codebase to Polylith, it would be nice if the tests for old code, imported as `:local/root`, could also be included.

**Describe the solution you'd like**
Make it possible to specify which `:local/root` imports we should run tests for. This could be specified in `workspace.edn` and each import should be marked with

[2021-08-12 04:21] tengstrand commented on #109
Code that doesn't live under the top namespace, are not treated as part of the workspace, and a warning is displayed if that's the case. That means that the hard part is often to move old code to live in the top namespace, and when that is done, it's trivial to also put the code in a brick, and then all the tests will also be included and run by the `test` command.

This issue is closed with no fu

[2021-08-12 04:21] #109 closed, assigned to nobody

[2021-08-12 17:20] seancorfield commented on #108
That exception is coming from `tools.deps.alpha` and it does not allow two git deps for the same dependency unless there is a direct ancestor link between them and the "newer" one can be directly inferred.

If you are using the CLI and `deps.edn` at all with transitive git deps, you are going to run into this -- it is not specific to Polylith -- and the CLI will fail to run your code in such a sit

[2021-08-12 18:40] seancorfield opened #110 "Per-project test run setup and teardown"
**Is your feature request related to a problem? Please describe.**
At work, when we run our legacy test suite, we perform some overall setup and teardown around the actual test run that every test would need but would be time-consuming to setup and teardown around every single namespace (i.e., what would be the `:once` fixture from `clojure.test`). I think this is a fairly common need, and some te

[2021-08-12 19:22] tengstrand commented on #110
What you suggest looks great to me, and the issue is well written, so I think I have everything I need to implement this.
I will have a look at it as soon as I finish what I'm working on.

[2021-08-12 19:53] Matthew-Ielusic commented on #108
Is there a way to specify exclusions for git deps, then?

And the Kaocha script is just running `clojure -Srepro -M:test:dev -m kaocha.runner "$@"` - is Kaocha bypassing CLI deps resolving somehow?

[2021-08-12 20:48] seancorfield commented on #108
`:exclusions` are based on the lib name (group/artifact) -- whether they're on Maven, GitHub, local, etc is not relevant.

I've no idea what Kaocha is doing and I'd actually have to see your (partially) migrated codebase and compare it to your prior setup to see why/whether that mattered.

[2021-08-13 10:17] imrekoszo commented on #108
I forked Matthew's projects to make the repro case even leaner:
https://github.com/imrekoszo/MinimalBugRepro/tree/no-common-transitive-deps
https://github.com/imrekoszo/ReproLibrary/tree/no-common-transitive-deps

In this setup, the `red` and `blue` libs in `ReproLibrary` do not share any dependencies with each other, yet the issue is still there with poly test.

`ReproLibrary` now contains 3 inde

[2021-08-13 18:37] seancorfield commented on #108
Thanks for the repro case @imrekoszo -- I notice that the case of the file paths doesn't seem to agree here:

[code]

I wonder if that's causing problems for tools.deps.alpha?

At this point, I think it may be worth asking this as a question on ask.clojure.org to see if there's an underlying t.d.a issue caused by case-sensitivity.

And a question to the Polylith folks: are :exclusions being respec

[2021-08-13 18:40] seancorfield commented on #108
This may also be a restriction in t.d.a. that you can't have two git deps into the same rep with different `:deps/root` values. That seems the most likely thing, looking at the error.

[2021-08-13 19:10] seancorfield commented on #108
I posted a link to this issue in the #tools-deps channel on Slack and asked Alex if he had any immediate insight into it.

[2021-08-13 19:59] seancorfield commented on #108
After discussing this with Alex on Slack, it looks like this is related to https://clojure.atlassian.net/browse/TDEPS-132

Because the two git deps (in the top-level project) have different `:deps/root`, by the time the `:local/root` dep in that git project is resolved, it's full path depends on that deps root (as well as the overall git repo/SHA path) so the local deps are not comparable.

You ca

[2021-08-13 20:50] imrekoszo commented on #108
@seancorfield thank you for spending time on this!

I probably wasn't fully clear on what changes I made in the `no-common-transitive-deps` branches in my forks:
( https://github.com/imrekoszo/MinimalBugRepro/tree/no-common-transitive-deps
https://github.com/imrekoszo/ReproLibrary/tree/no-common-transitive-deps )

1. fixed folder name casing (hopefully answering https://github.com/polyfy/polylith/

[2021-08-13 20:55] imrekoszo commented on #108
I did find something however. If you look at this part from my previous comment:

Deps in the lib monorepo:
[code]

The lib monorepo has a top-level `deps.edn`, referencing all 3 of the sub-projects. When I removed those references, poly test started working: https://github.com/imrekoszo/ReproLibrary/tree/no-top-deps and https://github.com/imrekoszo/MinimalBugRepro/tree/no-top-deps

After the chan

[2021-08-13 21:47] seancorfield commented on #108
I made sure to use the `no-common-transitive-deps` for the repro when discussing with Alex. The case issue was in the original repo, as you noted, and I had tried that first out of curiosity since I wanted to eliminate that first.

That top `deps.edn` is definitely part of the problem and you can see from how the lib repo ends up in the `.gitlibs` cache:

[code]

Those local dep libs are going to

[2021-08-13 22:00] imrekoszo commented on #108
Agreed, TDEPS-132 is certainly involved in the original problem. In fact, that behavior is something we need to deal with on a daily basis :). While annoying, it can fortunately be managed with direct deps and exclusions in our experience.

Thank you very much for that!

[2021-08-13 22:03] seancorfield commented on #108
My hypothesis is that `poly test` is not handling `:deps/root` correctly when building deps. Still debugging.

[2021-08-13 22:06] seancorfield commented on #108
I have a fix for this locally -- I'll get a PR together shortly:

[code]
I have not yet tested this on the _original_ repo...

[2021-08-13 22:10] seancorfield commented on #108
The original repo is still broken because `poly` doesn't respect `:exclusions` on git deps -- with that fix in place, the original repo can also be tested. I'll ensure my PR includes both fixes.

[2021-08-13 22:24] imrekoszo commented on #108
Good man @seancorfield, much appreciated!

[2021-08-13 22:51] seancorfield commented on #108
PR #111 is up. Adds support for `:exclusions` on all dep types (I checked with Alex that is correct, even though it is only documented for Maven) and adds support for `:deps/root` to git deps. Both of these are needed to fix @Matthew-Ielusic 's original problem (and his git deps need at least one exclusion on that common transitive dep, as far as I can tell for TDEPS-132).

I also updated the git

[2021-08-16 18:56] tengstrand commented on #106
I guess you mean if you type just "poly" then it should automatically start a shell,
but if you type something like "poly x" then the existing error message could be shown.

I like the idea and I think that is a good default and it will help people getting started!

When the new shell is in place, you will get so much speed and support from it that I believe
this will be the standard way of intera

[2021-08-16 19:15] tengstrand commented on #108
Thanks @seancorfield for all this!
The PR is merged into `master`.

And to answer you question, yes, `:exclusions` are being respected when executing the `test` command.
You can run the `libs` command to verify that and to check which versions of the libraries it uses for each project.

Another way is to execute e.g. `poly ws get:projects:dev:lib-deps` to check the libraries for the `dev` project

[2021-08-16 19:29] tengstrand commented on #101
FYI.
I'm working on issue #106 right now, and I'm quite excited about how well it works already!

I'm not against a native version, but my guess is that starting a `poly shell` will be the first thing people will do, and then stay there, because the auto completion and the instant feedback is quite addictive!

I can't promise when this will be released, but I'm putting a lot of effort into this.

[2021-08-17 11:12] PEZ commented on #106
Yes that's exactly what I mean. 😄

[2021-08-18 21:23] bpringe opened #112 "Update or remove commands doc in repo"
**Is your feature request related to a problem? Please describe.**

This is related to a potential documentation issue.

**Describe the solution you'd like**

Update the command documentation to replace the mentioned usage of `ns-to-lib` with a description of how lib usage is calculated now.

This error description is the content I'm talking about (see [here](https://github.com/polyfy/polylith/blo

[2021-08-18 23:07] bpringe commented on #112
I'm realizing other command docs there are outdated as well when compared with the tool's output (at least I saw this with the `info` command). So, I'm guessing that whole doc is based on help output from an earlier version of the tool.

I'm wondering if you think it's a good idea to keep that doc around, considering it may repeatedly become outdated as the tool evolves, or instead have users refe

[2021-08-19 03:04] seancorfield commented on #108
@Matthew-Ielusic can you confirm that if you use the latest git version of the `poly` tool, your problem is now solved (with the appropriate `:exclusions` in place)?

[2021-08-20 03:55] tengstrand commented on #112
Looks like I have missed to update the documentation!
The solution must be to generate this documentation from the output of the different commands, so that this will not happen again!
Thanks for reporting this. It's important that you can trust the documentation.

[2021-08-20 06:01] seancorfield opened #114 "Support "tools" installation and use"
**Is your feature request related to a problem? Please describe.**
Now that Clojure CLI 1.10.3.933 is out, it would be very convenient to be able to install `poly` as a "global" tool using the CLI's standard machinery and then use it (via the CLI) in any project: `clojure -Ttools install ...` and then `clojure -Tpoly ...`

**Describe the solution you'd like**
Add a new namespace to the `poly` CLI

[2021-08-21 19:04] kwojcik-blockether commented on #101
IMO we can mix native + poly shell. It's up to you to decide, however :)

[2021-08-22 18:17] tengstrand commented on #101
I don't think the native version will work with issue #113 (support for custom commands) either, at least not if implemented the way I suggest. So right now, a native version doesn't feel attractive to me, with all the extra maintenance cost and future functionality that will be hard or impossible to support.

[2021-08-23 07:18] tengstrand commented on #114
Merged to `master`. Thanks again for this contribution @seancorfield!

[2021-08-23 07:32] kwojcik-blockether commented on #101
Ah. You're right! Making a native poly version is useless then! Thank you for the clarification.

[2021-08-23 12:59] cyppan opened #116 "Add support for running specific brick tests"
**Is your feature request related to a problem? Please describe.**

At my company we have migrated our different "micro-services" into a single Polylith codebase (bases and components), but our (historical) tests are not optimized for speed, and it's a bit problematic when you use the polylith test runner because it will run all the bricks tests (even if you can run only those modified since the l

[2021-08-23 15:16] tengstrand commented on #116
Hi @cyppan!

I've had the same idea for a while, but wasn't sure if it was going to be used or not. Now when you have this need, it makes perfectly sense to support it.

We use `bricks` already, so it will be implemented like this, e.g.: `poly test brick:c1:c2:b1`.

I also had an idea of introducing the view concept, see discussion #118, which is related to this. Feel free to add comments on that!

[2021-08-23 15:56] cyppan commented on #116
it would be great! 👌🏻

[2021-08-24 04:24] Matthew-Ielusic commented on #108
Yes, it works!  Thank you.

[2021-08-24 08:33] tengstrand commented on #108
Okay, cool!

[2021-08-24 08:33] #108 closed, assigned to nobody

[2021-08-28 20:30] tengstrand commented on #116
This has now been fixed and [released](https://github.com/polyfy/polylith/releases/tag/v0.2.12-alpha), so please check it out!

[2021-08-28 20:34] tengstrand commented on #112
The documentation is now auto-generated from the output of the real commands. The documentation has been updated in the [latest release](https://github.com/polyfy/polylith/releases/tag/v0.2.12-alpha). This was a good fix, and will keep the documentation in sync from now!

[2021-08-28 20:35] bpringe commented on #112
Awesome!

[2021-08-28 20:35] #112 closed, assigned to nobody

[2021-08-28 20:41] tengstrand commented on #114
This has been [released](https://github.com/polyfy/polylith/releases/tag/v0.2.12-alpha) now. My plan is to support both the normal "poly style" and "CLI tools style" when I start working on the auto-complete in the new `shell` command, issue #106, and I think that can be really cool!

[2021-08-28 20:43] tengstrand commented on #107
Fixed.

[2021-08-29 01:07] #116 closed, assigned to nobody

[2021-08-29 01:07] #114 closed, assigned to nobody

[2021-08-29 01:09] #110 closed, assigned to nobody

[2021-08-29 01:09] #107 closed, assigned to nobody

[2021-08-30 17:36] tengstrand opened #123 "Switch to VSCode/Calva as the main IDE in the examples"
**Is your feature request related to a problem? Please describe.**
The documentation uses [Cursive](https://cursive-ide.com) today in the examples, which isn't free. An open source solution could help people getting started with Polylith more easily.

**Describe the solution you'd like**
[Calva](http://calva.io) is a good choice. The latest GitPod based solution that allows you to run the IDE in t

[2021-09-02 15:44] tengstrand opened #124 "Show indirect changes for projects"
When a project has changed (one or several files in its own project directory) a `*` will follow the project name when running the `info` command. If no project files have changed, no `*` is shown today, even if the project is indirectly changed by one or several of its (changed) bricks.

An improvement could be to show `+` if the project is indirectly change (but keep `*` if only the project itse

[2021-09-04 07:34] pithyless opened #126 "Excluding and/or including certain tests via metadata"
**Is your feature request related to a problem? Please describe.**

I would like to write tests that should not always be run, eg:
- benchmarking/performance tests that take too long to be run every time
- integration tests with external systems that rely on working VPN, etc. and cannot be run in all environments.

**Describe the solution you'd like**

The `cognitect.test-runner` supports this via

[2021-09-06 12:54] imrekoszo commented on #126
While it is probably useful to make Polylith's built-in test runner somewhat flexible, if I was the maintainer of Poly, I wouldn't put too much focus on that. There are several test runners available to Clojure already and we can only expect more to be developed. Those projects are focused on making the test runner experience the best possible - integration with test types, reporting, coverage etc

[2021-09-06 16:47] imrekoszo commented on #106
I was able to get command history using `clj -Tpoly shell` - clj has that built in.

[2021-09-07 05:40] tengstrand commented on #106
Okay cool. The new `shell` command will also support autocomplete and knows which arguments are relevant for each command + can autocomplete bricks, projects, dirs/files, etcetera.

[2021-09-07 13:21] imrekoszo opened #127 "Contrary to the readme, Cursive supports :local/root component deps"
In the readme there is the following section (and later on, there are constraints set by this section):

[code]

Cursive does support this, however. Here's how to make that work:

1. add the local/root dep to the root deps.edn
2. `File > New... > Module from Existing Sources...` or use the `Import Module from Existing Sources...` action
3. browse to the workspace root folder, Open and navigate thr

[2021-09-07 13:26] tengstrand commented on #127
This is great!
As soon as me and @furkan3ayraktar have verified that this works (which I don't doubt) I will update the documentation!
Thanks again @imrekoszo!

[2021-09-07 14:48] furkan3ayraktar commented on #127
I've tested it in my project with Cursive and I still cannot make the tests work with this approach. Even though it seems like Cursive detects the test directories as test resources, they are not included in the classpath when the REPL is started. I guess this is due to the fact that the test resources and dependencies are not included when the components and bases are included as `:local/root`.

[2021-09-07 15:02] imrekoszo commented on #127
But this^ is exactly what the readme suggests works with emacs etc but _not_ cursive, when indeed it does.

Readme says this is what works with Cursive:

[code]

Readme says this is what doesn't work with Cursive:

[code]

Both of these have the test folder as an extra path, and that's because of how tools.deps constructs the classpath, not because of the editor.

[2021-09-07 21:13] furkan3ayraktar commented on #127
I have tried it again with using :local/root for :dev alias and :extra-paths for the :test alias. I’ve added each component and base as modules. I can start a REPL from within Cursive and it seems like it has the correct classpath. However, Cursive does not resolve references to namespaces from other components.

Based on the discussion with @imrekoszo and others on Clojurians Slack, it appears th

[2021-09-08 05:06] tengstrand opened #128 "Move the poly documentation to gitbook"
**Is your feature request related to a problem? Please describe.**
The current documentation is hard to use because everything lives into one huge document.

**Describe the solution you'd like**
Move the documentation to gitbook, where it can be split up in sections and be easier to use.

[2021-09-08 05:42] #127 closed, assigned to furkan3ayraktar

[2021-09-08 08:38] imrekoszo commented on #127
Thanks for clearing that up @furkan3ayraktar! I only dipped my toe into polylith and wasn't aware that bricks shouldn't have direct deps on each other (if they do, then Cursive's module approach works). Perhaps the readme could be clearer about this caveat.

Apologies for making all the noise :)

[2021-09-10 19:19] Matthew-Ielusic opened #129 "Ignore top-level 'data_readers.clj'"
**Is your feature request related to a problem? Please describe.**
Reader tags are declared in 'data_readers.clj' files on the classpath root.  If a brick needs reader tags, it would be natural to place them in its src folder, or perhaps in resources, but 'poly check' issues a spurious Warning 205: Non top namespace.

**Describe the solution you'd like**
The polylith tool should ignore 'data_reade

[2021-09-10 21:02] seancorfield commented on #129
As noted on Slack: `data_readers.clj` and `data_readers.cljc` are both valid -- but `data-readers` is the namespace in both cases.

[2021-09-10 21:12] seancorfield commented on #126
@imrekoszo The main problem is that every test runner out there is different so integrating `poly` with any of them would be a challenge, especially since `poly` needs to manage classpath isolation so that tests can be run in different classpath contexts for each project. In addition, not all of those test runners provide a suitable API to be invoked with just specific tests and/or just specific d

[2021-09-10 21:44] seancorfield commented on #110
I've run into a problem with this: as it stands, if the test suite has any failures, the `teardown-fn` is not executed -- it should always be executed.

[2021-09-11 05:06] seancorfield opened #131 "Polylith should manage its own brew tap"
**Is your feature request related to a problem? Please describe.**
The core Brew team has very strong opinions on how `brew` formulae should work and a key part of that is that `brew` always installs all the dependencies a package says it needs and always installs the latest version. This means that `brew install poly` will force an OpenJDK 16 install on all users. The Clojure CLI had this happen

[2021-09-11 05:12] puredanger commented on #131
There is no registration, you just follow the naming convention. https://docs.brew.sh/Taps

[2021-09-11 06:06] furkan3ayraktar commented on #131
Polylith has its own brew tap, just like Clojure: [https://github.com/polyfy/homebrew-polylith/tree/master/Formula](polyfy/homebrew-polylith)

@puredanger I checked the Clojure Formula now, it does not state that it depends on Java. Polylith Formula states specifically it depends on Java.

If we don't put Java dependency in brew Formula, what happens if someone installs Polylith (or Clojure) witho

[2021-09-11 06:11] furkan3ayraktar commented on #129
It seems like `data_readers` are used as resources not sources, even though they have `.clj`/`.cljc` extension. So, it might be a better to place them under a bricks or a projects resources folder.

However, it also seems like Polylith treat the `.cljc` and `.clj` files as sources, even though they are under resources folder. This should not be the case in my opinion and Polylith should not treat

[2021-09-11 07:25] tengstrand commented on #129
When I tested this and put `data_reader.clj` directly under the `src` root, in e.g. `bases/poly-cli/src`, I get this error:
[code]
But when I put it under e.g. `bases/poly-cli/src/testing` it works.

[2021-09-11 08:21] imrekoszo commented on #126
@seancorfield I didn't mean the poly team should do all of this, I think it would be enough to make it pluggable some way. One possibility would be a command that returns all the context info (classpath etc) about projects whose tests need to be executed so teams can use that to call their test runners.

[2021-09-11 13:18] furkan3ayraktar commented on #126
Currently, Polylith finds all the test namespaces that were affected by the latest changes and uses [cognitect-labs/test-runner](https://github.com/cognitect-labs/test-runner) to run those tests. The tests are run in the correct context, e.g. in the context of a specific project. The dependencies are resolved via `tools.deps` and tests run in isolation within a new classloader.

It could be unnece

[2021-09-11 14:47] puredanger commented on #131
Then it won't work.

[2021-09-11 14:51] puredanger commented on #131
Your choices are: depend on Java and get the newest release if you don't have it. OR don't depend on Java, check for that, and tell the user what to do if Java isn't installed. brew used to have support for "ensure Java exists, but leave it alone if it's at least version whatever and/or install version whatever".

[2021-09-11 15:54] furkan3ayraktar commented on #131
Got it! I guess it's better to let brew install Polylith without Java since installing it does not require Java.

Then, in the bash script that actually runs Polylith from the `jar` file, we can check if Java exists. If not, we can show an error and maybe a hint for the user to install Java.

[2021-09-11 17:36] furkan3ayraktar commented on #127
Yeah, no worries! Glad to help out and have a discussion!

[2021-09-11 18:08] seancorfield commented on #129
If Clojure thinks it's invalid in the root place and you don't get the exception when it isn't in the root place, that's because Clojure is not actually reading the file -- so you have the wrong format.

It is supposed to be a hash map from qualified symbols to qualified symbols. The keys are reader tags and the values and functions to read the data. See this example in the clj-time project: https

[2021-09-11 18:34] imrekoszo commented on #126
@furkan3ayraktar I like that idea

[2021-09-14 06:44] tengstrand commented on #129
This should be fixed now in the branch `issue-129-ignore-data-readers` which you can try out @Matthew-Ielusic. I would prefer to wait with releasing this, till we have more functionality. In the meantime, you can either live with this warning or use the hash in the branch. Hope that works for you!

[2021-09-14 07:58] furkan3ayraktar commented on #131
I have updated the `brew` formula so that it does not depend on Java anymore. You can check out the commit [here](https://github.com/polyfy/homebrew-polylith/commit/3578c813bc776dae10cdbe9a0f61754b2ae2ab71).

If you uninstall poly with `brew uninstall poly` and install it again `brew install polyfy/polylith/poly` you'll get the one without the java dependency. The bash script that runs the `poly`

[2021-09-15 00:52] seancorfield commented on #131
I think we're OK to close this out now?

[2021-09-15 04:20] Matthew-Ielusic commented on #129
I tried it out on my personal Windows laptop, and it seems to be working!

[2021-09-16 05:44] tengstrand commented on #129
Nice!

[2021-09-21 04:09] tengstrand opened #134 "Use tools.build"
**Is your feature request related to a problem? Please describe.**
The Polylith codebase itself and the main example use [depstar](https://github.com/seancorfield/depstar) today, which has reached the end of its life and recommend people to use [tools.build](https://github.com/clojure/tools.build).

**Describe the solution you'd like**
Convert the examples and the `deployer` component to use `tool

[2021-09-21 07:51] tengstrand opened #135 "Restrict naming of bricks"
**Is your feature request related to a problem? Please describe.**
Today it's possible to execute a command like "poly create component name:my/component" which will create the component `my/component` which is not supported.

**Describe the solution you'd like**
Show an error message if the component name includes illegal characters like / (slash).

[2021-09-23 05:06] tengstrand opened #137 "Use :deps and :paths in development when running tests"
**Is your feature request related to a problem? Please describe.**
Today we only include dependencies from the `:dev` and `:test` aliases when running the tests, but not `:paths` and `:deps` (the root keys).

**Describe the solution you'd like**
Also include dependencies specified in `:paths` and `:deps` for the development project (`./deps.edn`) when running tests.

[2021-09-29 09:29] olymk2 opened #138 "Symbolic links to non-existing source code files throws an exception"
**Describe the bug**
poly create c name:products  fails if you have temporary files in you project structure

 :cause /workspace/components/middleware/src/com/example/middleware/.#core.clj (No such file or directory)

**To Reproduce**
Steps to reproduce the behavior:
1. create a file in an existing component with a .# in front of the name
2. poly create c name:products
3. See error

**Expected beh

[2021-10-02 06:42] seancorfield commented on #134
I'm taking a week off work and I expect to spend several days working on OSS projects so I'm probably going to start submitting PRs around this issue.

I see two main areas:
* the documentation (readme) and the accompanying `doc-examples` projects
* Polylith's own `projects` and the `build*.sh` scripts

I'm not clear on the `scripts/sections` stuff which also references `depstar` at the moment.

T

[2021-10-02 19:29] tengstrand commented on #138
Hi Oliver!

I haven't managed to reproduce your problem, but I have a few questions.

1. Can you execute all other commands, except `create component`?
2. If you execute `poly ws get:components:middleware:namespaces:src` does it include the `.#core.clj` namespace?
3. Does the file contain normal Clojure code or something else?

I can ask @furkan3ayraktar to see if he can reproduce the problem.

[2021-10-03 04:51] tengstrand commented on #137
Fixed and merged into master, but not deployed yet.

[2021-10-03 05:21] tengstrand commented on #134
Okay, cool.

I plan to publish my work (push it to a separate branch) on issue #106 (shell command) next weekend and I will also move all the poly documentation to gitbook at the same time. This means that changes to the documentation will soon be maintained from gitbook and not from the polylith repository.

The `doc-example` project is generated from the `scripts/create-example.sh` script and sh

[2021-10-03 18:17] olymk2 commented on #138
Okay seems even poly info fails, so yes all commands likley fail, step 2 also fails with the same error.
So after inspecting a bit more I noticed that the tmp file is actually a symlink.

I did a quick search and found this https://stackoverflow.com/questions/5738170/why-does-emacs-create-temporary-symbolic-links-for-modified-files which has a bit of info, interestingly when I check the symlink do

[2021-10-03 19:55] seancorfield commented on #134
Thanks. That helps. I'll focus on the actual Polylith build/deploy stuff first and may get an initial round of documentation work in this week as well, _before_ you convert stuff over (if it doesn't get merged, I can always redo it against the gitbook setup I guess?).

Knowing more about those other bits is helpful. Maybe at some point, we can get a "contributors' guide" together that wraps up all

[2021-10-04 01:04] tengstrand commented on #134
I've created the gitbook documentation already and I will get it proofread later today (Monday). I can probably publish the documentation earlier, maybe on Tuesday. Then you should be able to contribute directly to the documentation (in a branch) in gitbook.

Setting up a contributors guide sounds like a good idea to me.

[2021-10-04 05:40] seancorfield commented on #134
That's great news! I think that will be a huge improvement to the onboarding of new Polylith users!

[2021-10-04 06:39] tengstrand commented on #138
Hi @olymk2!

I could reproduce the problem and I have changed the heading in this issue to reflect that.

Please change the `:sha` in the `:poly` alias in your `./deps.edn` file to `17c3e3aa48ecec06966d4f8f0200a119bf0bd034`and verify that it works by executing something like `clojure -M:poly check` and report back if it works for you too!

[2021-10-04 08:31] olymk2 commented on #138
Grand that seems to have resolved the issue thanks i can now run poly info with out hitting the exception.

[2021-10-05 04:36] tengstrand commented on #138
Okay, cool!

[2021-10-05 04:36] #138 closed, assigned to tengstrand

[2021-10-05 22:03] seancorfield commented on #134
I've spent a couple of hours trying to figure this out and I'm pretty confused now.

There's a `build-api.sh` which tries to build an **uberjar** of the `api` project but there's no `:uberjar` alias so that won't work. Is this just an orphan script? Same Q for `build-core-api.sh` which tries to build an uberjar of the `core` project when there's no `:uberjar` alias there either.

The `deployer` pr

[2021-10-05 22:08] seancorfield commented on #134
Is the `java` code used anywhere at this point? I can't find any references to the package or classes anywhere (except in that `build-core-api.sh` file which, like `build.sh`, does a `sudo cp` to overwrite existing files (in the local Maven repo, whereas `build.sh` overwrites stuff in `/usr/local`).

[2021-10-06 07:25] tengstrand commented on #134
I suggest that you work from the `shell` branch if you haven't already.

The core project isn't used any more and is deleted from the `shell` branch, but I forgot to remove the corresponding script, but it's deleted now. I also downgraded the `jline` library to `3.20.0`. I had a local `3.20.1` which was the reason it worked on my local machine. These changes are now pushed to the `shell` branch.

[2021-10-06 16:38] seancorfield commented on #134
So the `java` folder should also be deleted now on the `shell` branch?

[2021-10-06 18:25] tengstrand commented on #134
Yes, let's just delete it. I used it to build a jar that could be used from `Kotlin` (or any other JVM language) by exposing it as compiled Java byte code, instead of normal Clojure AOT compiled code. The idea was to reuse the `workspace` component from Kotlin. I think that was the wrong idea and that if we want to support other languages, it's better to write the code in Clojure.

[2021-10-06 22:52] seancorfield commented on #134
Thanks. I'll leave it up to you to delete that `/java` folder and I'll just ignore it for now.

I'll focus on creating a top-level `build.clj` file and `:build` alias to provide parity to the two public functions in the `deployer` component -- but I won't delete the component (or the base) until you're comfortable with the replacement code (since there are no tests for the `deployer` code!).

It'l

[2021-10-06 22:53] seancorfield commented on #134
I don't have the `poly` tool installed via `brew` so I guess I need that for testing the updated `build.sh` script (which will in turn just run `clojure -T:build <something>` followed by that `sudo cp ...`

Correction: `brew`'s installation of `poly` does not create that setup -- is it something specific to your local environment?

[code]

[2021-10-07 02:31] seancorfield commented on #134
Building a working JAR from Polylith turns out to be complicated -- `depstar` just happened to "do the right thing" in terms of copying files but I'm not quite sure what it does with (transitive) dependencies. I have that all working with `tools.build` directly now -- with a bit of surgery on the basis and an explicit directory copy of (transitive) source code that works _for the specific case of

[2021-10-07 05:02] tengstrand commented on #134
Yes, the `build.sh` script is something that I've been using locally, which explains why it only works for me. I think it was created even before we had support for `brew`. With that in mind, I hope you can figure out what to do with the new script that replaces it!

Yes, I update dependencies to external libraries manually today.

The way you suggest to implement this sounds good to me. I haven't

[2021-10-07 05:39] seancorfield commented on #134
All I did to `build.sh` was change:

[code]

to:

[code]

(and fixed the `cp` command since it now runs from the directory above)

No more manual `pom.xml` updates are needed!

The JAR building is going to need to be abstracted out to work with general Polylith repos because you can't currently build a library JAR easily with either `depstar` or `tools.build` -- they get the dependencies wrong by

[2021-10-07 05:55] seancorfield commented on #134
Q for both of you @tengstrand and @furkan3ayraktar : how important is the deployer check that prevents you building or deploying artifacts if there are no changes in the `poly` / `api` projects?

That check alone drags in a huge number of components (because the `api` depends on so many other things transitively) and it feels very much against the spirit of a "build" that should trust the develope

[2021-10-07 06:24] furkan3ayraktar commented on #134
I think it is a good example for Polylith users to see how they can implement a similar logic for their workspaces. If we remove it, we'll need to provide an example of it in the documentation I suppose.

However, it doesn't necessarily need to be part of the build script. We can also run another command before the build script and decide if we need the build (e.g. there are affected projects from

[2021-10-07 06:25] #131 closed, assigned to furkan3ayraktar

[2021-10-07 06:28] furkan3ayraktar commented on #128
The documentation is on [Gitbook](https://polylith.gitbook.io/poly) and ready to be reviewed.

[2021-10-07 06:32] furkan3ayraktar commented on #101
I guess with the new Polylith `shell`, crating and maintaining a native version become unnecessary. I'll close this issue now.

[2021-10-07 06:32] #101 closed, assigned to nobody

[2021-10-07 07:46] seancorfield commented on #134
Current status:

[code]

The difference in size for the JAR file seems to be due to different versions of `tools.deps.alpha` being used (I'll double-check that before I'm done).

[2021-10-07 10:34] tengstrand commented on #134
I think we can lift out the functionality that calculates whether the build should be executed or not into a separate script @furkan3ayraktar.

[2021-10-07 17:11] furkan3ayraktar commented on #134
What do you think about adding a command in poly that can spit out the names of the projects changed? It could be useful for CI jobs, etc. Something like `poly changed-projects`?

[2021-10-07 20:11] tengstrand commented on #134
This statement does that: `poly ws get:changes:changed-or-affected-projects skip:dev`

[2021-10-07 20:13] tengstrand commented on #134
Also, when we add support for custom commands, people can add that command themselves if they want to!

[2021-10-07 21:16] seancorfield commented on #134
The PR is https://github.com/polyfy/polylith/pull/142 for @tengstrand and @furkan3ayraktar to review.

As noted there, I'd probably prefer this just be `build.clj` at the top of the repo but thought it might be easier to grok alongside the `deployer` as a base + project.

Also, as noted there, for this switch to be complete, the `deployer-cli` and `deployer` bricks should go away, along with the `

[2021-10-08 03:27] seancorfield commented on #134
One thing the build script could do is run that `poly ws get:changes:changed-or-affected-projects skip:dev` command, since `tools.build` can construct a `java` command to run Clojure programs, the same way the CLI does. That would be a nice "compromise" between what a "build script" should be doing -- running commands -- vs relying on Polylith's tool code.

And having spent some more time thinking

[2021-10-08 04:29] tengstrand commented on #134
Wow, what a nice piece of work and contribution @seancorfield!
I will have a closer look of it today and hopefully @furkan3ayraktar will also have some time today or tomorrow, so that we can include this in the next release that I plan to do this weekend.

[2021-10-08 05:03] seancorfield commented on #134
I just pushed an update with the changed projects check in there as well, by using `java-command` and `process` from `tools.build` to run that `poly` command (from source), so I believe this is complete in terms of parity with the `deployer` stuff -- and you get a few bonus commands since you can directly create the homebrew scripts, the JAR files, and the uberjar separately as `clojure -T:build`

[2021-10-09 14:51] furkan3ayraktar commented on #134
PR #142  is merged into `shell` branch now. It needs a little bit more love from @tengstrand but soon should be ready to be merged into master

[2021-10-09 16:55] seancorfield commented on #134
Thank you! Let me know what "more love" it needs, so I can be aware of that for future PRs.

[2021-10-09 17:01] seancorfield commented on #134
Looking at the `shell` branch, I see some potential changes to the documentation around build/deploy -- the PR does not touch any of the examples stuff as @tengstrand said that should be done as a separate PR. PR #142 is solely about building Polylith itself, not about how users should set up and build their own projects.

[2021-10-09 17:49] tengstrand commented on #134
I will work on the documentation and the `scripts/create-example.sh` script tonight. I can let you know when that is done @seancorfield.

[2021-10-10 22:00] tengstrand commented on #134
I will continue with the documentation tomorrow in the `shell` branch.

[2021-10-10 22:08] seancorfield opened #144 "poly flags :dev alias if it has no :extra-paths in it"
**Describe the bug**
If you're only using `:extra-deps` in `:dev` with `:local/root` dependencies on bricks, `poly` complains:

[code]

You can add `:extra-paths []` to satisfy it. That feels like legacy behavior?

[2021-10-11 13:08] tengstrand commented on #144
Yes, this is not the behaviour we want.

[2021-10-11 13:12] tengstrand opened #145 "Calculate the size of the library even if using short shas"
The `libs` command can't calculate the size of the library if it's specified as a `:git/sha` with a short sha.

[2021-10-11 19:38] seancorfield commented on #134
~Re: documentation for the `poly` tool moving to GitBook -- presumably, the `polylith` README will shrink down to just a summary and links to the GitBook stuff once you're done?~ I see you just did that, since I last looked! :)

[2021-10-12 01:23] volisoft commented on #144
Just to piggy back on this ticket: even though deps allows keywords in top-level `:paths`, poly expects only strings with error:
[code]

[2021-10-12 03:43] seancorfield opened #146 "Profiles should support :extra-deps / :local/root for components"
**Describe the bug**
If you have multi-implementation components and set up `:+default` like `:dev` with `:extra-deps` and `:local/root` for the `components/<whatever>` the `poly` tool will complain with error 107. You are forced to add `:extra-paths` for the `src` (and `resources`).

**Expected behavior**
You should be able to specify component dependencies in profiles with `:local/root` `:extra-

[2021-10-12 17:05] tengstrand commented on #134
I'm trying to deploy, but the [CI build](https://app.circleci.com/pipelines/github/polyfy/polylith/503/workflows/b83c75ca-ca12-4bf1-ba98-b316986503f7/jobs/1209) doesn't manage to download the `io.github.seancorfield/build-clj library` library. Do you @seancorfield or maybe @furkan3ayraktar have any ideas?

Solved. Thanks for the help @seancorfield !

[2021-10-12 18:59] seancorfield commented on #134
Per Slack, the CI image needs to be updated to a newer Clojure CLI version (>= 1.10.3.933 so it has all the "tools" support).

[2021-10-14 15:36] seancorfield opened #149 "Several clojure -T:build uberjar commands incorrectly contain -A:deps"
**Describe the bug**

`example/doc-example/build.clj` has:

[code]

Although `-A:deps` is fairly harmless here, it is not required and should be removed. There are five occurrences of `-A:deps` with `uberjar` in three files.

Note that `-A:deps` **is** required for the `help/doc` command:

[code]

But that is the only place it is needed.

I have not checked the GitBook to see if it occurs elsewher

[2021-10-15 05:22] tengstrand commented on #149
I made you an editor of the GitBook documentation @seancorfield, so feel free to fix this and other mistakes if you find any!

[2021-10-15 05:23] seancorfield commented on #149
Thank you! I just got the invite and accepted it. I'll try to spend some time learning about GitBook over the next few days! :)

[2021-10-16 03:59] tengstrand commented on #149
I've merged your changes. Thanks!

[2021-10-16 03:59] #149 closed, assigned to nobody

[2021-10-16 07:28] #128 closed, assigned to tengstrand

[2021-10-16 07:28] #135 closed, assigned to tengstrand

[2021-10-16 07:29] #106 closed, assigned to tengstrand

[2021-10-16 07:31] #124 closed, assigned to tengstrand

[2021-10-16 07:32] #129 closed, assigned to tengstrand

[2021-10-16 07:32] #134 closed, assigned to seancorfield, tengstrand

[2021-10-16 07:34] #137 closed, assigned to tengstrand

[2021-10-19 03:48] tengstrand commented on #146
I've implemented this in the `issue-146` branch. Please try it out @seancorfield.

[2021-10-26 19:34] mixedCase opened #153 "Running tests in parallel"
**Is your feature request related to a problem? Please describe.**

I'd like to parallelize the execution of most of my tests in order to speed up their execution.

To be more specific I've a series of tests that heavily bottleneck on IO not only during execution but also in their fixtures. While an asynchronous IO runtime on the Java-side would be best I don't think that's going to be viable for

[2021-10-28 17:46] svdo commented on #153
Maybe only slightly related, but I'd also love to easily be able to use kaocha for example.

[2021-10-29 03:28] tengstrand opened #154 "Allow entities to be symbols in "clojure -T" commands"
**Is your feature request related to a problem? Please describe.**
Today we have to give entity values as strings, e.g.:
clojure -Tpoly create entity '"workspace"' name next-gen top-ns com.my-company

**Describe the solution you'd like**
It would be good if the tool allowed us to pass them in as symbols:
clojure -Tpoly create entity workspace name next-gen top-ns com.my-company

See [thread](https

[2021-10-31 05:47] tengstrand commented on #154
This functionality can be tested now with e.g. these statements (the SHA points to the last commit in the [issue-154](https://github.com/polyfy/polylith/tree/issue-154) branch):
[code]

[2021-11-03 04:34] tengstrand opened #157 "Shut down the Forum"
The forum doesn't contain much of value and has been spammed for a while now. It's time to shut it down. We need to update:
- [x] Shut down the forum and announce it in Slack.
- [x] The link to the Java example that we have in the high-level doc (maybe also move the Java code somewhere).
- [x] Remove the link to it from the readme.md when generating a new workspace.
- [x] Remove all other links to

[2021-11-05 06:28] seancorfield commented on #126
@furkan3ayraktar It doesn't use Cognitect's `test-runner` as far as I can see -- it just calls `clojure.test/run-tests` directly on the namespaces that need to be tested.

Since folks are also asking about Cloverage, I think maybe figuring out a way to provide alternate functions to call instead of `clojure.test/run-tests` might be a good path -- but I suspect those functions would also need the a

[2021-11-08 18:41] vemv opened #158 "Parameterized layout names"
Hi,

I have a suggestion that would help me adopt and enjoy Polylith more fully.

## Context

Polylith has specific names for components, bases, bricks, interfaces, projects, workspaces, etc. Naming is hard, and also subjective.

For people coming from different backgrounds, a slightly different set of names can help see things more clearly, making adoption + daily work more comfortable.

As a per

[2021-11-09 08:04] tengstrand commented on #158
Hi @vemv,

We have discussed this within the core team, and though we understand the thrust of your argument,
we don’t believe that making this change would be good for Polylith in the long-term.

We see great value in the fact that all Polylith projects use the same nomenclature of the core concepts:
interface, component, base, brick, project, and workspace.

This help people switch between diffe

[2021-11-11 05:51] robert-stuttaford opened #159 "Homebrew warning"
Warning: Calling bottle :unneeded is deprecated! There is no replacement.
Please report this issue to the polyfy/polylith tap (not Homebrew/brew or Homebrew/core):
  /usr/local/Homebrew/Library/Taps/polyfy/homebrew-polylith/Formula/poly.rb:8

[2021-11-11 11:40] #158 closed, assigned to nobody

[2021-11-17 00:05] yenda commented on #126
@seancorfield one very useful thing that `poly test` could do as well is being able to generate a junit report. It's part of [clojure.test](https://clojure.github.io/clojure/clojure.test-api.html#clojure.test.junit) and as simple as:

[code]

but currently the way `poly test` works one cannot generate a test report.

[2021-11-18 07:55] ieugen opened #160 "Don't commit files when creating a workspace"
**Describe the bug**
A clear and concise description of what the bug is.

Ran `poly create` on an existing repository and poly created a commit automatically.
That commit had a lot of extra files that would never reach git.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to: go to a git project with existing files and maybe not all added to .gitignore ?!
2. Run poly create top-ns xx

[2021-11-20 20:32] seancorfield commented on #146
I have the following in my workspace `deps.edn` file:

[code]

(I have the `src` paths commented out to repro the bug below -- I need `src` there for the non-issue-146 version but figured it shouldn't be needed for the issue-146 version)

I get the following failure when testing `:dev`:

[code]

[2021-11-20 20:35] seancorfield commented on #146
Similarly for the `+httpkit` profile:

[code]

[2021-11-20 20:38] seancorfield commented on #146
It seems strange that it can't find the external lib (hato, httpkit) since that should come from the `:extra-deps` via `:local/root`.

Here's the two components' `deps.edn` files:

[code]

[2021-11-20 20:50] seancorfield commented on #146
If I run just the project tests, those work (but those don't use profiles, so that should be expected).

[2021-11-21 13:51] furkan3ayraktar commented on #159
Removed `bottle :unneeded` line from the Formula templates [here](https://github.com/polyfy/homebrew-polylith/pull/1). Starting from the next version we release, this warning should disappear.

[2021-11-21 13:51] #159 closed, assigned to furkan3ayraktar

[2021-11-23 13:32] tengstrand commented on #146
I wasn't able to reproduce your problem. It would be super helpful if you (@seancorfield ) could set up a small workspace that reproduces the problem, which you could give me access to (or let it be public). Then I could continue looking into this.

[2021-11-23 20:16] seancorfield opened #161 "If test setup fails, tests should not run"
**Describe the bug**
If per-project test setup fails (throws an exception), `poly test` still runs the tests (which may or may not fail).

**To Reproduce**
Have a per-project test setup that throws an exception, and at least one test that will run from that project. The test setup will fail but the tests will still be run (and so will the test teardown).

**Expected behavior**
If the per-project t

[2021-12-01 06:35] tengstrand commented on #160
Hi!
You can set the `:auto-add` key inside `:vcs` in `workspace.edn` to false to turn off auto adding of git files, like this:
[code]

[2021-12-01 08:29] tengstrand commented on #161
Fixed and pushed to `master`, but not released yet.

[2021-12-01 10:06] ieugen commented on #160
Thank you @tengstrand but my use case if for creating a new project with polylith and I don't have a workspace.edn.

I would argue that it's better to make this OPT-IN instead of OPT-OUT so people can turn it on if they want it.

[2021-12-01 17:42] seancorfield commented on #161
You've removed the `try`/`finally` that ensures tear down runs even if tests fail -- which reintroduces a bug I raised a while back (that you fixed by adding that `try`/`finally`).

[2021-12-01 19:03] tengstrand opened #164 "Don't add tools.deps.alpha as a dependency when creating workspaces and projects."
Don't add `org.clojure/tools.deps.alpha` as a dependency when creating workspaces and projects.

[2021-12-02 07:45] tengstrand commented on #161
I've merged a fix to master. Hopefully it will work this time.

[2021-12-02 07:47] seancorfield commented on #161
Thank you. That looks correct now.

[2021-12-02 07:47] #161 closed, assigned to tengstrand

[2021-12-09 18:39] seancorfield commented on #160
I agree with @ieugen -- I've always thought the default behavior (auto-committing) is a bad idea. I turn it off in `workspace.edn` when I create a project, but having it auto-commit on workspace creation is problematic too and there's currently no way to opt-out of that (and I really do think auto-commit should be **opt-in** and the default should be to not commit -- for _all_ `create` commands --

[2021-12-09 18:43] seancorfield opened #166 "Update djblue/portal to 0.18.1"
Portal has had a lot of updates since 0.15.1 which is the version Polylith currently uses.

I'd actually forgotten that `poly` includes Portal until I started seeing this warning when running `poly test`:

[code]

That's a conflict between the old Portal and Clojure 1.11 Alpha 3 which we're running at work. That has been addressed in more recent versions of Portal.

[2021-12-12 06:36] tengstrand commented on #166
Merged into master. I also updated the other libraries.

[2021-12-12 06:36] #166 closed, assigned to nobody

[2021-12-20 06:14] tengstrand opened #171 "Make use of custom maven root in the test command."
See Slack [thread](https://clojurians.slack.com/archives/C013B7MQHJQ/p1639654934403100?thread_ts=1639265474.384000&cid=C013B7MQHJQ)

[2021-12-23 23:39] seancorfield commented on #146
Repro repo: https://github.com/seancorfield/polylith-issue146

Sorry it took me so long to get around to this. It's been a wild month.

[2021-12-25 19:22] tengstrand commented on #146
Thanks for the repo @seancorfield, it was very helpful. I have pushed a fix. The problem was that `:local/root` library dependencies weren't calculated for profiles, only paths and explicit library deps. If you execute `clojure -M:libs` agains the latest SHA in this branch, you will see that the `cheshire` lib will be marked with an `x` for the `default` profile, which wasn't the case before the f

[2021-12-27 00:17] seancorfield commented on #146
The original problem is fixed, but now it doesn't seem to understand a dependency like this:

[code]

That has an implicit `:git/url` derived from the libname itself -- which is something `tools.deps.alpha` supports, but apparently not Polylith? I thought that was something that got fixed a while back in how Polylith processes git deps?

[2021-12-27 00:19] seancorfield commented on #146
If I change `:git/sha` to `:sha` and add `:git/url` (with the explicit URL), then it works. But I should not need to do that.

[2021-12-27 00:25] seancorfield commented on #146
In addition, running `poly test` seemed to download a lot of dependencies that should already have been downloaded -- so I think the code you've added around `m2-dir` for local repo is broken.

Confirmed, yes, it has caused `~/.m2` to be treated as the repository directory (instead of `~/.m2/repository`) and has filled by `.m2` folder with top-level artifacts. Either you have the wrong default for

[2021-12-27 00:38] seancorfield commented on #146
In t.d.a, the default value for `local-repo` is `~/.m2/repository`: https://github.com/clojure/tools.deps.alpha/blob/master/src/main/clojure/clojure/tools/deps/alpha/util/maven.clj#L146

In Polylith, the default is `~/.m2` so that's a bug (that's been in Polylith for quite a long time it seems but is only uncovered now -- looks like the code where `m2-dir` is defaulted was committed back in 2020?)

[2021-12-27 04:20] tengstrand commented on #171
Fix merged to master.

[2021-12-27 04:20] #171 closed, assigned to tengstrand

[2021-12-27 04:33] tengstrand commented on #146
When I introduced the key `:m2-dir`, I thought about it as the (sometimes used) `M2-HOME` environment variable. To avoid introducing problems for existing users of the tool, I didn't want to change the meaning of that key, and I simply added `/repository` in this case too.
We said that you could create an issue for the `sha` problem. Now when the m2 problem is solved in the master branch, and the

[2021-12-27 06:26] seancorfield opened #174 "git deps with implicit url do not work"
**Describe the bug**
tools.deps.alpha supports git deps like io.github.seancorfield/deps-new {:git/sha "..."} (plus com.github.user/repo and a few others), but poly test does not. See https://github.com/clojure/tools.deps.alpha/blob/master/src/main/clojure/clojure/tools/deps/alpha/extensions/git.clj#L17-L33

**To Reproduce**
Steps to reproduce the behavior:

https://github.com/seancorfield/poly-is

[2021-12-27 06:34] seancorfield commented on #146
Yes, issue 146 is addressed so this is ready to be merged. Thank you!

[2022-01-04 06:10] tengstrand commented on #146
I've merged it into master now.

[2022-01-04 06:10] #146 closed, assigned to tengstrand

[2022-01-16 17:52] tengstrand commented on #160
Please have a look at the [issue-160 branch](https://github.com/polyfy/polylith/tree/issue-160) and see if it behaves as expected (the gitbook doc has to be updated too). To get the current behaviour when creating a workspace, you now have to pass in `:commit` to the `create workspace` command, otherwise the workspace will not execute the git commands that initiates the git repo + commits the file

[2022-01-17 20:23] tengstrand commented on #174
I have pushed a fix, so please have a look at the [issue-174](https://github.com/polyfy/polylith/tree/issue-174) branch @seancorfield.

[2022-01-18 00:08] seancorfield commented on #174
This seems to work as expected. Thank you!

[2022-01-18 06:15] tengstrand commented on #164
This is now baked into issue #160.

[2022-01-18 06:21] #154 closed, assigned to tengstrand

[2022-01-18 06:23] #145 closed, assigned to tengstrand

[2022-01-18 06:27] #144 closed, assigned to tengstrand

[2022-01-18 07:02] tengstrand opened #176 "Handle arguments to poly CLI Tool commands as strings"
Handle arguments to poly CLI Tool commands as strings, e.g., this statement:
`clojure -Tpoly create workspace name ws1 top-ns com.my-company`

Returns:
Key is missing value: com.my-company

Solution: Make sure we allow this by converting symbols to strings.

[2022-01-20 09:07] tengstrand commented on #174
Thanks for verifying this. Now it's merged to the `master` branch.

[2022-01-20 09:07] #174 closed, assigned to tengstrand

[2022-02-01 08:58] svdo opened #177 "Poly test does not give non-zero exit code when check fails"
**Describe the bug**
When running `poly test`, before running the tests it will also run the `check` command. If that fails, poly shows the messages and exits. The exit code however is zero, meaning that it claims that everything is OK. This is especially harmful in CI because it causes that the build succeeds while the tests are not even run.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2022-02-01 21:25] vemv opened #179 "Plugging in Eastwood into the test runner"
## Context / Problem statement

Eastwood is a linter that provides unique insights, complementing other linter offerings such as clj-kondo's.

It has the nuance that its runtime grows linearly with codebase size - could be some 8-10m for a 100KLOC codebase.

My understanding is that Polylith has some built-in logic that looks at Git diffs and only runs relevant tests.

## Proposal

Offer the reuse

[2022-02-09 05:43] tengstrand commented on #179
Hi!

This sounds great! We have been a bit busy in the team recently, but will soon look into this and come back to you.

Cheers,
Joakim

[2022-02-14 13:01] tengstrand commented on #177
Hi!

Thanks for reporting this. I will have a look at this soon.

/Joakim

[2022-02-14 13:08] tengstrand commented on #179
Hi again,

Adding support for a linter like [Eastwood](https://github.com/jonase/eastwood) could be solved with the [custom commands](https://github.com/polyfy/polylith/issues/113) that I'm working on right now. The support for auto-complete got me a bit stuck with that issue, but the new plan is to maybe ship it without it to begin with, to be able to release a new version of the `poly` tool soon

[2022-02-14 15:57] vemv commented on #179
Hey there,

that's awesome news! Thank you for your work.

Looking forward.

[2022-02-15 06:29] tengstrand opened #180 "Change from sha1-sum to sha256-sum in build.clj"
See PR [178](https://github.com/polyfy/polylith/pull/178)

[2022-02-15 06:30] #180 closed, assigned to tengstrand

[2022-02-16 05:20] tengstrand opened #181 "Remove security warning"
We have this warning in GitHub:
![image](https://user-images.githubusercontent.com/631272/154200971-491d0aaf-b130-40ea-889b-612141b06024.png)

The pom.xml has never been used by the code and was deleted earlier.

Investigate how to get rid of this warning in the best way.

[2022-02-22 09:09] tengstrand opened #182 "Handle ./components paths in ./deps.edn"
Make sure we handle `{:local/root "./components/foo"}` references in `./deps.edn` correctly.
Right now we only handle paths that starts with "components/".

[2022-02-24 06:15] seancorfield opened #184 "Spurious Warning 204"
**Describe the bug**

The following warning appears incorrectly:

  Warning 204: The same library dependency exists in both the development project and the default profile: org.clojure/tools.logging

**To Reproduce**

@tengstrand has our ws.edn output.

**Expected behavior**

The warning should not appear.

[2022-03-10 10:10] tengstrand opened #187 "Support for more than one interface name"
The interface name to use is specified in `workspace.edn` in the key `:interface-ns` where the value is stored as a string.
When people want to share code between Clojure and ClojureScript, they cannot use `interface` as interface name, because it's a reserved word in ClojureScript. A solution to the problem is to allow more than one name for the interface by also allowing the namespaces to be sto

[2022-03-10 10:53] PavlosMelissinos commented on #187
I'm not 100% sure about allowing a vector. Might lead to abuse, e.g. people specifying :interface-ns ["component-a" "component-b"] and then complaining because names clash (I can see that being an issue in larger polylith repos).

As a polylith user, I would rather see a solution that works per component but I understand if that's too much effort. Could be a different key in workspace.edn too:
e.g

[2022-03-10 16:13] imrekoszo commented on #126
@furkan3ayraktar I think there would be value in finding _all affected namespaces_, not only test ones and passing them over to the test runner. There could be tests hidden in any of those (like kaocha's auto-generated s/fdef checks) and the test runner should be responsible for discovering them.

The built-in test runner could further filter that namespace list to test namespaces only and run clo

[2022-03-11 07:53] miikka opened #189 "Support running all tests for selected projects"
**Is your feature request related to a problem? Please describe.**

Sometimes I'd like to run tests for a project that has not changed. Right now we're migrating a large number of services to Polylith and we've had trouble with making sure that integration tests pass in all environments. Being able to run the tests for a project without any changes is an essential sanity check.

**Describe the sol

[2022-03-11 08:01] tengstrand commented on #189
Today the code runs all test for all projects if we type `poly test :all`. I agree it's a more resonable behaviour to run all tests for selected project(s) if we type `poly test :all project:foo` or `poly test :all project:foo:bar`.

[2022-03-15 16:05] cyppan opened #190 "brew poly formula looks broken (at least on my mac)"
**Describe the bug**
I installed the polylith tool via brew previously (0.2.13-alpha) and I can't update it now (or even brew info it)

**To Reproduce**
[code]
**Operating System:**
 - OS: MacOS
 - Version: 12.1

**Versions:**
 - Java: openjdk version "17.0.2" 2022-01-18
 - Poly: 0.2.13-alpha (2021-10-12)
 - Brew: 3.4.1

[2022-03-16 14:59] edannenberg commented on #190
See https://github.com/polyfy/homebrew-polylith/pull/2 for a workaround

[2022-03-18 08:16] #184 closed, assigned to tengstrand

[2022-03-18 08:17] #182 closed, assigned to tengstrand

[2022-03-19 05:40] tengstrand commented on #176
Duplicate of #154

[2022-03-19 05:40] #176 closed, assigned to tengstrand

[2022-03-19 10:03] #177 closed, assigned to tengstrand

[2022-03-19 10:04] #157 closed, assigned to tengstrand

[2022-03-19 10:59] furkan3ayraktar commented on #181
These were triggered by an unnecessary `pom.xml` that got pushed and deleted in the past. I dismissed those alerts now.

[2022-03-19 10:59] #181 closed, assigned to furkan3ayraktar

[2022-03-19 11:06] furkan3ayraktar commented on #190
I've merged https://github.com/polyfy/homebrew-polylith/pull/2 now which should solve the issue.

[2022-03-19 11:06] #190 closed, assigned to furkan3ayraktar

[2022-03-23 08:50] tengstrand commented on #187
But in this case we could specify :interface-ns ["interface" "iface"] and it will be valid in any component, both component-a and component-b in your example (and any other component).

[2022-03-23 10:27] PavlosMelissinos commented on #187
Exactly. If you add a new item to the interface-ns vector it will also apply to existing bricks. What if one of the bricks already has an implementing namespace with `iface` or `ifc` in its name? Won't polylith assume it's an interface after the change (and complain)?

[2022-03-23 10:54] PEZ opened #195 "Make it easier to find guides of how to get started and such"
**Is your feature request related to a problem? Please describe.**

I learn by doing. The current main site for Polylith, which I assume is [polylith.gitbook.io](https://polylith.gitbook.io/), tells me the **what** and the **why**, but lacks the **how**. It doesn't even tell me where to find this. The closest it gets (as far as I can understand) is the videos and the Real World Example app. The la

[2022-03-23 11:18] furkan3ayraktar commented on #195
Hi @PEZ!

There are two different official Polylith  sites. The first one is [polylith.gitbook.io/polylith](https://polylith.gitbook.io/polylith/), which has content about the what, the why, and an in-depth explanations of all the concepts that make up Polylith architecture. It also contains links to other resources such as videos, presentations, the example project and the FAQ.

The second is [po

[2022-03-23 12:06] PEZ commented on #195
Low hanging fruit: Make it easy to find the Poly tool site from the Polylith site. Is there even a link anywhere? I can't find it.

I mean: Hello @furkan3ayraktar! (Where are my manners? 😄)

The [How to create this workspace from scratch](https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app/blob/master/how-to.md) is exactly what I was looking for! I have sometimes found it. I

[2022-03-23 14:13] tengstrand commented on #195
Hi Peter / @PEZ !

I'm sure there are several other people struggling with finding how to start with Polylith, so this feedback is very valuable to us!

The documentation of the [poly tool](https://polylith.gitbook.io/poly) covers all the commands included by the tool by walking you through an example, and it starts by creating the example [workspace](https://polylith.gitbook.io/poly/architecture/

[2022-03-23 14:43] furkan3ayraktar commented on #195
I think you are making more than some sense @PEZ 😄. I was also reluctant about moving the CLI tool documentation from GitHub to GitBook, although @tengstrand convinced me that it was more searchable and more structured in GitBook, also better looking.

Now, I understand what you meant with the babashka website as well. A landing page that we can clearly link to different parts of the documentation

[2022-03-25 09:05] tengstrand commented on #189
It would be cool if you could test the functionality in the [issue 189](https://github.com/polyfy/polylith/tree/issue-189) branch @miikka.

[2022-03-25 10:04] miikka commented on #189
Tried out commit 989c05703e34484c4acf275c54399221a079b680 and it seems good. `poly test :all project:my-project` now does what I was hoping for.

[2022-03-25 10:18] tengstrand commented on #189
Okay cool. It should work for other variants also, like `poly test project:my-project` or `poly test :project :project:my-project`.

[2022-03-25 16:03] tengstrand commented on #195
No one would be happier than me if we could nail how to describe Polylith so that everyone (or at least people that could benefit from it) would understand!

Maybe we should form a group with people that are new to Polylith and also people that have worked with it for a while, to get feedback and ideas about how to improve and/or restructure the current documentation.

[2022-03-26 05:14] PEZ commented on #195
Sounds excellent, @tengstrand!

[2022-03-27 20:33] #189 closed, assigned to tengstrand

[2022-03-27 20:33] #164 closed, assigned to tengstrand

[2022-03-27 20:33] #160 closed, assigned to tengstrand

[2022-03-28 18:57] tengstrand opened #205 "Generate images from command's output"
See if we could generate image files (PNG) from text output, by passing in `out:filename` to different commands.
It would also be good if we could have a command that generates the three "workspace images" which is on the front page (output form `info`/`deps`/`libs`).

Maybe we can use [Skija](https://github.com/HumbleUI/Skija) or [Clojure2D](https://github.com/Clojure2D/clojure2d) for this, see c

[2022-03-29 11:10] imrekoszo commented on #187
Just a suggestion:
[code]

[2022-04-05 05:30] tengstrand opened #206 "Use source paths from deps.edn files"
Don't read read source code from hard coded paths, see this [example](https://github.com/polyfy/polylith/blob/master/components/workspace-clj/src/polylith/clj/core/workspace_clj/projects_from_disk.clj#L152) (thanks @imrekoszo for pointing this out!).

Instead, use the paths in the `deps.edn` files.

Make sure we support more than one src or test directory (because it's supported by tools.deps).

[2022-04-05 09:50] imrekoszo commented on #206
Thanks for creating the issue! Let me try and add some extra thoughts.

The main area I would add more checks around is paths included in the development project and profiles vs _entities_ (bricks+projects) available in the workspace.

1. every entity that has sources or tests should be included in at least one profile or the development project
2. when an entity is included in the dev project or

[2022-04-07 07:06] furkan3ayraktar commented on #179
Could this be solved by the pluggable test runner feature in #196?

[2022-04-07 07:09] furkan3ayraktar commented on #153
@mixedCase This should be solved by #196. Once that PR ready and merged, you could write your own custom test runner to
parallelize the tests.

@svdo There will be a custom koacha test runner that @imrekoszo is developing. Once the custom test runner support is there, you can plug it in.

[2022-04-07 07:11] furkan3ayraktar commented on #126
Related to #196

[2022-04-07 08:50] svdo commented on #153
Awesome! 😎

[2022-04-07 13:18] dpetran opened #207 ":interface-ns with hyphen isn't properly snake cased when creating a new component"
**Describe the bug**
When creating a component when the `workspace.edn` `:interface-ns` has a hyphen, the created interface files are not properly snake-cased.

**To Reproduce**
Steps to reproduce the behavior:
1. Change `workspace.edn` `:interface-ns` to `"interface-"`.
2. Run poly create component name:foo
3. See the error:
`components/foo/src/bar/foo/interface-.clj`
`components/foo/test/bar/foo

[2022-04-07 14:52] vemv commented on #179
I guess so from the PR name, but also don't know given the lack of an extended description atm

[2022-04-07 17:27] dpetran opened #208 "Test runner fails on cljc test files"
**Describe the bug**
When running `poly test :dev` on a brick that has a cljc test file with a reader conditional, the following stacktrace is produced:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `poly create component name:bar`
2. Change the `components/bar/test/foo/bar/interface_test.clj` to `components/bar/test/foo/bar/interface_test.cljc`
3. Add the following conditional

[2022-04-08 08:52] tengstrand opened #209 "Handle string keys in the ws command correctly"
When running `poly ws get:changes:project-to-bricks-to-test:poly` from the polylith workspace, we get this error:
![image](https://user-images.githubusercontent.com/631272/162400667-032a7424-1aea-4c32-9738-ce5cbda54797.png)

We try to cast the "poly" string to a keyword in the code.

[2022-04-08 09:33] imrekoszo commented on #179
Hey there, I'm the author of #196.

While I normally consider linting and testing separate steps, I understand eastwood is a little more involved than other linters like clj-kondo so it might be more fitting to consider it part of the testing step where namespaces are actually loaded.

The changes proposed in #196 should provide a usable integration for this. You could implement the [TestRunner](h

[2022-04-08 09:47] imrekoszo commented on #179
Actually, stay tuned for that multiple test runners support.

[2022-04-08 14:37] imrekoszo commented on #153
With parallel execution support [coming to kaocha](https://github.com/lambdaisland/kaocha/pull/234) and #196 coming to Polylith, this should be a possibility soon.

[2022-04-08 14:41] imrekoszo commented on #179
Using #196 it is now possible to configure multiple test runners for a project. Here's an excerpt from `poly help test` from that PR:

[code]

[2022-04-10 16:03] tengstrand opened #211 "Support :as-alias in :require statements"
Clojure 1.11 has added support for `:as-alias` in `:require` statements. We should support that.

https://github.com/clojure/clojure/blob/master/changes.md#22-as-alias-in-require

[2022-04-12 05:58] tengstrand opened #212 "Build isolated jar files out of projects by changing the top namespace"
**Is your feature request related to a problem? Please describe.**
Polylith is not well suited for building libraries as it is today. The problem is that if we for example build two libraries (as jar files) out of two project, then the user of these libraries can get into trouble if the same brick is used in both projects.

One example is when we build version 1 of library `a` and `b` and then mod

[2022-04-19 08:15] DVious opened #214 "Poly error. Poly check error. Poly Shell error - it's Poly! Or java"
**Describe the bug**
Poly in the command line produces:
#error {
 :cause Don't know how to create ISeq from: clojure.lang.Keyword
 :via
 [{:type java.lang.IllegalArgumentException
   :message Don't know how to create ISeq from: clojure.lang.Keyword
   :at [clojure.lang.RT seqFrom RT.java 557]}]
 :trace
 [[clojure.lang.RT seqFrom RT.java 557]
  [clojure.lang.RT seq RT.java 537]
  [clojure.core$seq_

[2022-04-20 12:44] DVious commented on #214
I ran polylith from no project and, it works!

The problem DOES appear to be in MY development project so, the error occurs when polylith consumes my project.

Is there a guide to this as, however I am mangling my project, I keep doing it!

For example, if I copy/paste/rename a component, which I often do, will that eventually break the polylith aspect of the project?

[2022-04-20 12:44] #214 closed, assigned to nobody

[2022-04-20 12:54] tengstrand commented on #214
It looks like the `poly` tool has problems reading a namespace. If you can figure out how that namespace looks looks like, then please post it here!

[2022-04-21 01:44] DVious commented on #214
We did it!

Although I don't totally get it.

I did a namespace check and, made them all consistent. A good thing, that didn't resolve the problem.

So, I removed all component folders, to achieve 'OK in  poly check.

I restored each folder until one failed poly check, then, eliminated it.

If it helps it was "keycloak-clojure" and, it might be different in being a docker component, with poor docu

[2022-04-21 18:09] dgb23 opened #215 "poly create workspace clojure version typo"
**Describe the bug**
`poly create workspace (...)` produces a typo for the Clojure version in the deps.edn file.

**To Reproduce**
`poly create workspace name:example top-ns:se.example :commit` and then see the deps.edn file.

**Expected behavior**
A correct mvn version for Clojure.

**Possible Fix**
Remove the white-space here:

https://github.com/polyfy/polylith/blob/master/components/creator/sr

[2022-04-28 10:00] nkabir opened #217 "Poly tool should check deps.edn for src and test path"
**Describe the bug**
The poly tool currently assumes all source is under `src` and `test`. Changing `deps.edn` for a component does not affect this. This is unexpected behavior that leads to developer confusion.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component
2. Edit `deps.edn` to change `src` path to `src/clj`
3. See warning from `poly check` indicating that `clj.se` name

[2022-04-28 13:37] nkabir commented on #217
This bug is related to "Use source paths from deps.edn files #206"

[2022-05-03 19:04] imrekoszo commented on #206
Here are the relevant locations in code where I found these hardcoded:

- https://github.com/polyfy/polylith/blob/abd20bb656e2cdd712732d80e1238316d3ea1b7f/components/workspace-clj/src/polylith/clj/core/workspace_clj/bases_from_disk.clj#L11-L12
- https://github.com/polyfy/polylith/blob/abd20bb656e2cdd712732d80e1238316d3ea1b7f/components/workspace-clj/src/polylith/clj/core/workspace_clj/components_f

[2022-05-04 15:30] tengstrand commented on #206
As Imre pointed out, the brick paths are hard coded and read from disk from `bases_from_disk` and `components_from_disk`. What we instead should do here is to extract the source paths from `base-dir/deps.edn` and `component-dir/deps.edn` by looking in `:paths` and `:aliases > :test > :extra-paths`.

The next problem is this line:
https://github.com/polyfy/polylith/blob/abd20bb656e2cdd712732d80e123

[2022-05-04 21:51] nkabir commented on #206
I haven't tackled profiles yet and I understand my solution is a bit hacky. It seems to work. I want to share the changes to see if I'm on the right track.

I [changed](https://github.com/rkx-forks/polylith/blob/2de0f76096a3155c93b7520eb6c822fe1857233f/components/workspace-clj/src/polylith/clj/core/workspace_clj/namespaces_from_disk.clj#L114) the `namespaces-from-disk` method to ignore the hard-co

[2022-05-06 11:02] wagjo opened #219 "IllegalArgumentException when require flag is present in the ns macro"
Following valid ns declaration fails to parse in the polylith tool

[code]

Stacktrace
[code]

[2022-05-07 04:30] #207 closed, assigned to nobody

[2022-05-07 04:41] tengstrand commented on #179
Does the new pluggable test runner solve your problem @vemv ?

[2022-05-07 06:45] vemv commented on #179
Hi! Sorry, I don't have much time in my hands nowadays. I don't use poly at my new job either 😔

Could I have an empty project with the boilerplate filled? Config + stubbed protocol implementation. I could definitely check out that and see if it can be easily filled with an Eastwood implementation.

[2022-05-07 08:06] imrekoszo commented on #179
@vemv not a stub per se but an example implementation using kaocha: https://github.com/imrekoszo/polylith-kaocha

[2022-05-07 08:14] vemv commented on #179
Thanks!

Quickly eyeing https://github.com/imrekoszo/polylith-kaocha/blob/f8536b683842ac1d70eb1e1ab918be0369c43ce5/components/kaocha-test-runner/src/polylith_kaocha/kaocha_test_runner/core.clj, it looks a little more dense than I would have expected (not a criticism).

I'll give it a go when I find a good chance.

[2022-05-07 08:47] imrekoszo commented on #179
As most of the action in kaocha's case needs to happen inside the classloader of the project under test, the code you linked is really only responsible for creating the interface between polylith and kaocha. Most of the kaocha-specific action (which the code you linked will invoke) happens in https://github.com/imrekoszo/polylith-kaocha/tree/f8536b683842ac1d70eb1e1ab918be0369c43ce5/components/kaoc

[2022-05-08 06:05] tengstrand commented on #206
Hi @nkabir!

Yes, a bit hacky and that is also not how we need to approach the problem. Here is my suggestion.

The value for the `:paths` key is calculated here for components:
https://github.com/polyfy/polylith/blob/22e07082d9d803e28498af8c4eaf048d3d0d5bf8/components/workspace-clj/src/polylith/clj/core/workspace_clj/components_from_disk.clj#L26
...and the here for bases:
https://github.com/polyf

[2022-05-08 12:22] nkabir commented on #206
Thank you, @tengstrand
This gives me a better understanding of the scope of necessary changes. I'll try again!

[2022-05-08 16:30] nkabir commented on #206
This looks problematic if we use a collection of paths instead of one path. It appears to pluck the first

https://github.com/polyfy/polylith/blob/22e07082d9d803e28498af8c4eaf048d3d0d5bf8/components/workspace-clj/src/polylith/clj/core/workspace_clj/components_from_disk.clj#L15=

With multiple src directories, we'd need to loop through each one to find an interface file and then return the path tha

[2022-05-08 19:46] tengstrand commented on #206
Yes, we we need to loop through all sources. I think we should only allow that each interface namespace exists once, and that we need to add a validation that checks this.

[2022-05-09 21:04] nkabir commented on #206
A pull request based on suggestions from @tengstrand
There is still work to do. For example, I assume paths contain src, test, and resources.
However, I'm still new to the codebase so I thought it may be helpful for others to see the changes and provide feedback.

https://github.com/polyfy/polylith/pull/220

[2022-05-10 06:59] tengstrand commented on #206
Hi @nkabir.

I really appreciate that you want to help out with this, but I feel that this task is a bit too hard for you to start with, and that it takes too much time for me to guide you, which is time that I unfortunately don't have right now.

What I instead suggest is that I implement it, and that I walk you through the solution afterwards.

If you find something smaller, feel free to give it

[2022-05-10 10:10] nkabir commented on #206
No worries, @tengstrand

It was definitely more extensive than I anticipated. In the meantime, I'll combine clj,cljc,cljs in the same src tree. My motivation was to integrate kit-clj with a Polylith project. I may be able to accomplish that by modifying the kit-clj deps.edn to follow the Polylith convention.

Thanks for your help!

[2022-05-10 14:12] tengstrand commented on #206
Okay, cool and thanks for engaging in Polylith!

[2022-05-11 07:10] #215 closed, assigned to tengstrand

[2022-05-12 11:33] svdo opened #222 "In shell mode, CTRL-C should abort the running command in poly, not poly itself"
**Describe the bug**
When you're running poly in shell mode (i.e. just run `poly`) and then inside the poly shell a command (e.g. `test :dev`), pressing CTRL-C should abort the test, not the poly shell.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `poly`
2. Inside the Poly shell, run `test :dev`
3. While the tests are running, press CTRL-C
4. Observe that `poly` is aborted and you hav

[2022-05-14 08:35] tengstrand commented on #219
The fix is merged to master now @wagjo.

[2022-05-14 08:35] #219 closed, assigned to nobody

[2022-05-16 17:41] tengstrand commented on #206
I have implemented this, together with issue #217 in the branch `issue-206`, see PR #224. I decided not to add a validation that restricts the names of `src` or `test` paths (as I first suggested). Please check it out, before I merge this to master @nkabir and @imrekoszo.

[2022-05-16 18:47] tengstrand commented on #206
I will add support for [aliases](https://clojure.org/reference/deps_and_cli#_paths) in this branch also.

[2022-05-16 19:16] imrekoszo commented on #206
@tengstrand thank you, checking!

[2022-05-18 10:57] slifin opened #225 "Documentation improvement"
On the page https://polylith.gitbook.io/poly/install/install/install-on-linux

The version found in the first bullet point

[code]

Does not match the version (2.14-alpha) found later on the same page

[code]

[2022-05-18 11:32] jayfranklinn opened #226 "Could not find Clojure version due to leading space in version"
When typing `poly create workspace name:example top-ns:se.example :commit`

Initial generation yields inside deps.edn:
[code]

When starting the repl:
[code]

[2022-05-26 17:28] seancorfield opened #227 "Support XDG systems properly for config.edn file"
**Is your feature request related to a problem? Please describe.**

On XDG systems, the convention is to put user-level config in directories under `$XDG_CONFIG_HOME/` (typically `$HOME/config/`) so Polylith's `config.edn` should be in `$XDG_CONFIG_HOME/polylith/config.edn` instead of `$HOME/.polylith/config.edn`.

**Describe the solution you'd like**

Polylith should detect the `XDG_CONFIG_HOME`

[2022-05-28 20:38] seancorfield commented on #227
The `polylith.clj.core.user-config.core` ns seems like the right place for all of this to happen and then for everything else to use this `component` as the standardized way to get the location (or content) of the user configuration.

Some test code (and some test files) also reference this path -- and in some places do so with this hardcoded path:

[code]

The steps, as I see them:
1. refactoring

[2022-05-28 21:17] seancorfield commented on #227
Looking at the XDG spec https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html (thanks @imrekoszo ), it seems that there's no need for any XDG environment variables to be set, so there's no way to decide one system is following XDG conventions and another is not -- so it would probably be better for the `poly` tool to just shift to following the XDG conventions regardless, us

[2022-05-28 23:09] seancorfield commented on #227
After experimenting with running different versions of `poly` locally -- a "legacy" version and an XDG version -- I decided to make the migration work as follows:

* copy the legacy file to the new location
* read the legacy contents, add a migration comment _at the top_ and write it back out

This means that a new version of `poly` won't clobber the configuration still used by any older versions

[2022-05-29 16:27] tengstrand commented on #225
I have updated the documentation. Thanks for pointing this out!

[2022-05-29 16:27] #225 closed, assigned to nobody

[2022-05-29 16:31] tengstrand commented on #226
Duplicate of #215
Thanks for reporting this. This will be fixed in the next release.

[2022-05-29 16:31] #226 closed, assigned to nobody

[2022-05-29 19:27] tengstrand commented on #227
Thanks for this @seancorfield!

[2022-05-29 19:27] #227 closed, assigned to seancorfield

[2022-05-30 09:08] devgrapher opened #229 "Poly test should return non-zero exit code when per-project test-setup has failed"
**Describe the bug**
`poly test` should return non-zero exit code when per-project `:setup-fn` is given and failed (throws an exception).

**To Reproduce**
1. Have a per-project `:setup-fn` function set in `workspace.edn` and make it throw an exception.
2. Run `poly test project:{the project name}; echo "exit code: $?"`
3. You can see a message in red `Test setup failed: *****` and `exit code: 0`

[2022-05-31 11:53] tengstrand commented on #217
A fix has been merged to master. Please check it out @nkabir!

[2022-05-31 11:53] #217 closed, assigned to tengstrand

[2022-05-31 11:54] #206 closed, assigned to tengstrand

[2022-05-31 19:05] tengstrand opened #230 "Support aliases in paths"
See [aliases](https://clojure.org/reference/deps_and_cli#_paths).

[2022-05-31 19:06] tengstrand commented on #206
I forgot to support aliases, so I created issue #230!

[2022-06-04 15:58] tengstrand commented on #229
Hi @Devgrapher!

This seems to work in the master branch.
Please verify this and see if you encounter any problems, otherwise I will close this issue. Thanks!

[2022-06-04 19:05] tengstrand commented on #222
I've implemented this in branch [issue-222](https://github.com/polyfy/polylith/tree/issue-222).
Please have a look and see if it seems to works @svdo!

[2022-06-05 08:21] svdo commented on #222
Thanks! I'll try when I'm back at work and let you know!

[2022-06-06 04:15] devgrapher commented on #229
@tengstrand  Thank you for taking a look, but I'm still seeing the issue with the master branch as well.

I had this in `deps.edn`
[code]

, and ran the following
[code]

which printed messages below
[code]

The exit code 1 is properly returned when it had no exception during the setup, but had an error in the test itself.

[2022-06-06 07:00] tengstrand commented on #222
This is merged to master now!!

[2022-06-06 08:22] tengstrand commented on #209
The source of the bug was due to different behaviour between a "normal" hash map and a sorted one.

`({"a" 1} :a)` returns `nil`, while:
`((sorted-map "a" 1) :a)` throws `ClassCastException`!

[2022-06-06 08:28] #209 closed, assigned to tengstrand

[2022-06-07 06:07] svdo commented on #222
Seems to work nicely, thanks a lot @tengstrand!!

[2022-06-09 04:03] seancorfield commented on #230
While this may not be a very necessary feature for Polylith since `:paths` and `:extra-paths` aren't likely to be anything unusual, this is something supported by core `tools.deps.alpha` code, and Polylith should not prevent it from being used/working.

Right now, if you try to use aliases in paths -- per Clojure CLI documentation -- Polylith throws an exception:

[code]

Both `calc-basis` and `ma

[2022-06-15 23:01] seancorfield opened #234 "Test setup failure no longer aborts test run"
**Describe the bug**
It looks like the integration of pluggable test runners has broken some of the assumptions around project test fixtures:

[code]

If the "Test setup failed", the entire test run should abort. It used to abort, and it no longer does.

**To Reproduce**
Add a project-specific test setup function that throws an exception (for a project that will be among the first to be tested).

[2022-06-15 23:02] seancorfield commented on #234
@imrekoszo I haven't looked at the PR in detail that introduced this but I suspect it catches and reports an exception around test running, but no longer propagates it to the caller?

[2022-06-15 23:17] seancorfield commented on #234
Also: need to ensure that if test setup _succeeds_, then test teardown _must be run even if the tests fail_.

[2022-06-16 05:00] ikitommi opened #235 "Projects tests are not run with adf957cc055ba1ceaca25e6119915b4d3ad77b48"
**Describe the bug**
Projects tests are not run with adf957cc055ba1ceaca25e6119915b4d3ad77b48.

[code]
... doesn't find any tests from the project-level, e.g.

[code]

with f0d38cb71e9d3f7a620a4baecb491da4aab91edd, works ok, e.g.

[code]

[2022-06-16 05:15] tengstrand commented on #234
Add tests, see [comment](https://clojurians.slack.com/archives/C013B7MQHJQ/p1655355687828689?thread_ts=1655333868.287389&cid=C013B7MQHJQ) in Slack:
- If test setup fails, the whole test run should stop (and test teardown should not happen)
- If test setup succeeds and the tests pass, the test teardown should run and if it fails, the whole test run should stop
- If test setup succeeds but the tests

[2022-06-16 07:42] imrekoszo commented on #234
Thank you @seancorfield and apologies for the breakage. Could you please share the version (sha) of poly you are using to make sure we're looking at the correct one?

Also, does reverting poly to `28cca05514500fe995d4107dd5649c162b57b02a` or earlier fix this?

Here's how it's done in `28cca005` (just before pluggable TRs):
https://github.com/polyfy/polylith/blob/28cca05514500fe995d4107dd5649c162b5

[2022-06-16 12:08] imrekoszo commented on #234
@seancorfield @tengstrand I created a repro case for this at https://github.com/imrekoszo/polylith-kaocha/tree/poly-issue-234-repro

Please check it using `bb test :all :project` at the following commits:

1. before pluggable test runners: https://github.com/imrekoszo/polylith-kaocha/commit/ef971761ca6a7d075482c7e07924f1b8371d21cc

[code]

2. with pluggable test runners: https://github.com/imrekos

[2022-06-16 16:31] seancorfield commented on #234
This was the original issue I raised where it did not behave correctly -- and this was fixed and working as expected before pluggable test runners: https://github.com/polyfy/polylith/issues/161 -- I verified that it worked as expected after that fix.

I will create a failing repro at work and wind back through the commits to see if it was something other than the pluggable test runner work that br

[2022-06-16 17:49] imrekoszo commented on #234
I'm really looking forward to the result of your bisection. As far as I could tell, 403dccc9d07a89338ab2fec31b8a7207ec02545f is what fixed #161 and there haven't been significant changes to the test runner code between that and 28cca05514500fe995d4107dd5649c162b57b02a, which is the last commit before pluggable:  https://github.com/polyfy/polylith/compare/403dccc9d07a89338ab2fec31b8a7207ec02545f...

[2022-06-16 17:56] imrekoszo commented on #234
Something just occurred to me - @seancorfield did you verify that fix with _multiple_ projects where setup fails for a project that isn't the last one being tested? Since #161 the project whose setup failed won't have their tests run but I'm not seeing any code that would skip running tests for the _other_ projects in that case.

[2022-06-16 23:08] seancorfield opened #236 "Documentation reminder re: install-latest option for CLI tools"
Clojure CLI 1.11.1.1139 introduced `clojure -Ttools install-latest ...` -- and this does not support `:deps/root` so it cannot be used to install _or later update_ the `poly` tool.

This is a reminder for @seancorfield to update the Polylith docs appropriately in the near future.

[2022-06-17 08:17] tengstrand commented on #235
A fix has been merged to master!

[2022-06-17 08:17] #235 closed, assigned to nobody

[2022-06-17 09:31] ikitommi commented on #235
tested, works, thanks for the quick fix!

[2022-06-17 13:49] #229 closed, assigned to tengstrand

[2022-06-18 12:31] tengstrand commented on #208
Hi @dpetran,
I have fixed this issue, so please have a look, hash: `b0632bea00842774d5859dfe528ac3e7758ea244`
[branch-208](https://github.com/polyfy/polylith/tree/issue-208)

[2022-06-18 12:56] tengstrand commented on #187
I kind of like the idea that an interface always starts with the string "interface" because then it's easy to find the interface from an IDE. An idea I have is to have a flag in `workspace.edn` that is set to `false` by default, but if you set it to `true`, then the tool will treat all namespaces starting with the "interface" as interfaces.

Valid names could e.g. be `interface`, `interface-cljc`

[2022-06-18 19:01] imrekoszo commented on #187
@tengstrand I'm usually pro-flexibility but I understand if you think my suggestion is overkill.

My main problem with `interface` is its length but I haven't found a shorter one I like so far. I don't think it's a tragedy if there aren't any shorter possibilities (like in your latest suggestion) but it would be nice in case someone has a short phrase they like.

However, this is your project and

[2022-06-18 20:54] seancorfield commented on #187
My vote would be for making `:interface-ns` a vector of strings and letting people decide on which name(s) to use. It doesn't need to be more complicated than that. People will (obviously) need to choose namespace segments that don't conflict with existing namespaces😄but that's true of any convention in any system.

Like @imrekoszo I don't much care for `interface` either but I also haven't really

[2022-06-19 04:25] #208 closed, assigned to nobody

[2022-06-19 09:41] PavlosMelissinos commented on #187
A vector is the simplest solution indeed and I don't think any of the alternatives (including my suggestion) are elegant enough to justify the complexity right now.

@tengstrand I'm still a bit skeptical but if a problem comes up it would still be possible to extend your original suggestion with something like what @imrekoszo proposed.

[2022-06-19 10:47] tengstrand commented on #230
I didn't manage to solve the problem with `calc-basis` so I simple substituted the paths myself (it's not much code). Please have a look @seancorfield.

[2022-06-19 20:29] seancorfield commented on #230
I'm not sure what are all the possible combinations in `tools.deps.alpha` but that PR looks like it covers the basics so it'll be good enough for now. I didn't realize you weren't using t.d.a for handling everything in the `deps.edn` file.

[2022-06-20 05:27] furkan3ayraktar commented on #187
One of the benefits of Polylith is that it establishes a common language for project teams. When team members discuss about the project, they are going to talk about interfaces and it is valuable to reflect that within the codebase by using the word _interface_. I feel like in this case adding flexibility reduces one of the benefits of Polylith and makes it hard to communicate. Think about a team

[2022-06-22 20:06] seancorfield commented on #234
FWIW, this bug was recently (re?) fixed by https://github.com/polyfy/polylith/pull/232 so I'm closing this (I just happened to trip over this exact situation again for the first time since I opened this issue!).

[2022-06-22 20:09] seancorfield commented on #222
This doesn't work if the code is in a tight loop and cannot be interrupted between tests -- to me, this fix is worse than the original problem because you can't interrupt a runaway test at all now and you have to find and kill the `poly` process manual.

If you get a second ^C after setting the flag to stop the execution, you should just abort in my opinion.

[2022-06-22 21:23] svdo commented on #222
Yes, a second ctrl-c to abort is a common pattern and seems useful to me. It would be nice if it could still abort into the poly shell if possible, but having to wait is indeed not always desirable.

[2022-06-28 21:07] bpringe opened #240 "Print total number of tests run with poly test when all tests pass"
**Is your feature request related to a problem? Please describe.**

For each brick tested when I run `poly test` I see output such as "Test results: 1 passes, 0 failures, 0 errors." However, I can't see the total number of tests that passed, failed, or errored.

**Describe the solution you'd like**

I'd like this output at the end of all tests being run for all bricks, reporting the totals (how ma

[2022-07-05 13:46] tengstrand commented on #222
Okay, then I have to have a new look at it.

[2022-07-06 12:31] tengstrand commented on #222
I want to roll back this change for now, and only implement if we can find a better solution in the future (I was never super happy with it, because of that delay, and I haven't found a better solution).

[2022-07-06 12:53] #230 closed, assigned to tengstrand

[2022-07-06 13:19] #222 closed, assigned to tengstrand

[2022-07-10 07:27] tengstrand commented on #234
I have added these tests to the issue-234 branch: https://github.com/polyfy/polylith/blob/e0fd83aea47de6b1304ada1b6c3ac2b2916a5f57/scripts/create-example.sh#L403-L422

The tests:
1. [mix-clj-and-cljc.txt](https://github.com/polyfy/polylith/blob/issue-234/scripts/output/for-test/mix-clj-and-cljc.txt) -  works correctly (runs without errors and returns 0).
2. [setup-fails-stops-entire-test-run.txt](

[2022-07-10 17:04] seancorfield commented on #234
The reason that failed setup stopping the test run is important is because it may not cause tests to fail (for a variety of reasons) and so that setup failure will scroll past and, unless you just happen to see it, you have no idea there's a problem -- that's what happened for us and it meant that a dependency-related bug, not detected by `check`, got past CI and onto our staging environment. That

[2022-07-10 19:45] tengstrand commented on #234
I agree that 2 is important and that we should keep it like that.
Even if 3 is not as important, it seems resonable that it should also stop the entire test run.
Number 4 works like this right now: if you run tests for e.g. project A and B, and if a test fails in A, then the entire test run stops (no more tests are executed for either A or B). I think this is how it has always worked.

If we want

[2022-07-11 14:00] imrekoszo commented on #234
IMO 2 and 3 are the most important ones and central to the current issue. I agree with Joakim that both of these should stop the test run. As teardown fails in 5 I think that also belongs here.

WRT 4 I think that's a different topic. Usually, and especially in CI I want my test suite to run in full then have a report with all the failing tests. This is default for kaocha (only talking about kaoch

[2022-07-15 22:26] seancorfield commented on #234
I looked back over some of our CI failures and it looks like when a test fails, the remaining tests _in that namespace_ are still run but then the test run stops -- which I think is what @tengstrand is describing -- and I'm fine with that behavior, even though there is definitely value in continuing on through all the namespaces in a given project as an alternate behavior (the default behavior of

[2022-08-03 07:05] tengstrand commented on #187
Hi guys!

I suggest that we keep the key `:interface-ns` as today, but internally we also accept `interface` and `ifc`. If we just start allowing these two, then we could potentially break existing workspaces.

In the documentation we could recommend people to use one of these two, but that would be their choice in the end. The value they put in the `:interface-ns` key  will be used when creating

[2022-08-03 12:52] seancorfield commented on #187
I think @tengstrand latest suggestion is a good compromise: support `interface` and `ifc` internally but allow users to specify what to use when creating new components (and therefore allow them a single, alternative if they don't like either of the built-in ones).

[2022-08-05 23:55] lsh-0 opened #242 "just what is a 'brick' ?"
**Describe the bug**

I've read [the introduction](https://polylith.gitbook.io/polylith/introduction/polylith-in-a-nutshell), worked through [the guide](https://polylith.gitbook.io/poly/architecture/workspace) and am now dipping in to [the `poly` reference](https://polylith.gitbook.io/poly), but I still don't know what a 'brick' is.

In the introduction there is a strong emphasis on "LEGO-like bri

[2022-08-06 12:47] tengstrand commented on #234
Please have a look at [this](https://github.com/polyfy/polylith/pull/243) PR @imrekoszo @seancorfield @furkan3ayraktar.

With this fix, if we run the tests for project A and B and a test or test setup/teardown fails for project A, then test for project B will not be executed (which they are today).

[2022-08-07 23:06] #242 closed, assigned to nobody

[2022-08-09 14:48] imrekoszo commented on #234
@tengstrand I added a comment on your PR, it looks good to me otherwise.

[2022-08-10 04:25] tengstrand commented on #234
Thanks @imrekoszo and @seancorfield for the feedback!
This is now merged to master.
I plan to create a release soon with everything that currently is in master.

[2022-08-10 04:25] #234 closed, assigned to tengstrand

[2022-08-11 15:29] seancorfield opened #245 "Isolated classloader context for poly test is unusual/incorrect"
See https://github.com/seancorfield/poly-classloader-bug for repro case and instructions.

This is blocking our migration at work. Although we can add an explicit require to get around this initial failure, other tests subsequently fail for classloader-related issues so it seems like solving this initial problem might address some larger issues.

Although the generated project for the repro uses a

[2022-08-11 17:29] furkan3ayraktar commented on #245
I quickly checked couple of things and leaving them here for reference.

This is how Polylith creates a new ClassLoader:
https://github.com/polyfy/polylith/blob/36b75565032dea88ee20cdc0bc5af18f6f4d4cf4/components/common/src/polylith/clj/core/common/class_loader.clj#L67-L76

As you can see, after loading `clojure.lang.RT` only `(require 'clojure.main)` is run.

I followed what Clojure actually does

[2022-08-11 18:38] #245 closed, assigned to nobody

[2022-08-14 19:16] seancorfield commented on #236
The GitBook has been updated. I believe this issue should be closed as of 0.2.15-alpha?

[2022-08-16 11:11] #236 closed, assigned to nobody

[2022-08-16 11:20] tengstrand commented on #153
Hi guys !

Now when it's possible to run tests using Kaocha in the latest [0.2.15-alpha](https://github.com/polyfy/polylith/releases/tag/v0.2.15-alpha) release, can we close this issue?
@mixedCase @imrekoszo @svdo

[2022-08-16 15:11] mixedCase commented on #153
I believe so. Can't test myself as I don't find myself working in Clojure anymore but I think that does it. Closing.

[2022-08-16 15:11] #153 closed, assigned to tengstrand

[2022-08-18 23:20] lsh-0 commented on #242
I think my problem was the Gitbook documentation, it's layout/format/pagination is not good for me, especially when the poly tool documentation looks almost identical but is a different type of documentation (reference vs introduction/guided docs).

I found an old broken link here:
https://old.reddit.com/r/Clojure/comments/k43lki/polylith_the_last_architecture_you_will_ever_need/#geatz3e

Which le

[2022-08-18 23:33] lsh-0 commented on #195
I'm going to hang a comment off of this ticket because I'm having issues with the Gitbook style of documentation as well.

I recently opened a ticket with what I felt to be a reasonable albeit a little embarrassing question ([just what is a brick?](https://github.com/polyfy/polylith/issues/242)) given how far into the docs I had read and how much code I had already generated. I closed it almost im

[2022-08-23 16:52] ieugen commented on #240
Hi, if you need more than just the total tests, there is kaocha via https://github.com/imrekoszo/polylith-kaocha

I use junit xml reports for which there are tools to display.
Kaocha also has better reporting from my limitted experience.

[2022-08-24 01:59] bpringe commented on #240
Thanks for the suggestion.

[2022-09-03 02:55] seancorfield opened #247 "poly check treats :as-alias namespace as loaded"
**Describe the bug**
A namespace referenced purely for an alias, via `:as-alias`, does not cause a circular reference, but `poly check` incorrectly treats it as fully-loading the namespace (it should not).

Will provide more details shortly, along with a PR since this is a critical blocker for us at work.

[2022-09-05 04:44] tengstrand commented on #247
Okay, thanks for the info.
One idea is that you create a small workspace in [examples](https://github.com/polyfy/polylith/tree/master/examples), that reproduces the problem, which I can use to check my solution.

[2022-09-16 05:58] tengstrand opened #249 "Include bases in error messages if circular dependencies"
When we get a circular dependency error then we don't include bases today, e.g.:
mycomponent > mybase > mycomponent

Which becomes:
mycomponent

Make sure we also include bases in the error message for error 104.

[2022-09-16 13:27] tengstrand commented on #195
Hi guys!

I've tried to address a number of issues in the documentation:

The introduction in the [high-level documentation](https://polylith.gitbook.io/polylith/) in the second sentence says "There are several ways of learning Polylith" followed by these sections:
- Try it out yourself
- Look at working code
- Watch a video
- Listen to a podcast
- Slack
- Read a blog post
- Production systems
- R

[2022-09-16 13:45] lsh-0 commented on #195
Documentation is a notoriously slippery problem alright and no solution is going to please everybody. I am grateful for this though:

![Screenshot at 2022-09-16 23-02-52](https://user-images.githubusercontent.com/2142748/190651567-2f113e59-3115-4bd0-8741-09f0d6628592.png)

So, thank you ;)

I agree, but I often feel like I'm being old fashioned and unreasonable. So long as whatever you come up wit

[2022-09-16 19:27] tengstrand commented on #195
Okay, cool!

[2022-10-05 06:02] tengstrand opened #251 "Ignore empty or commented out source files"
In 0.2.14-alpha, the poly tool ignored .clj files that were completely commented out.
From 0.2.15-alpha, this stopped working. Make sure we go back to the old behaviour.

See [this](https://clojurians.slack.com/archives/C013B7MQHJQ/p1660146469632659?thread_ts=1660117665.005019&cid=C013B7MQHJQ) slack thread.

[2022-10-07 06:35] seancorfield commented on #247
I haven't had time to do this yet but might have time this weekend. I have a couple of other, very minor fixes to propose as well so I may send PRs for those soon too.

[2022-10-11 21:05] seancorfield opened #252 "Memory consumption is very high on large projects"
**Describe the bug**
This is a bit vague -- sorry -- but our project at work has gotten large enough (19 projects, 107 components) that when a low-level component (or `deps.edn` file) is updated and it triggers a test run of almost all projects and all components, our CI job gets killed for memory usage (BitBucket, 2x instance, already the largest we can have).

**To Reproduce**
Very hard to repro

[2022-10-11 21:15] seancorfield opened #253 "Classloader isolation has "leaks""
**Describe the bug**
Code that uses global JVM thread pools (such as code based on fork/join) can end up loading classes into those threads which then conflict with those same classes loaded into the classloaders `poly test` creates to run code.

**To Reproduce**
Exceedingly hard to reproduce(!) and even in some repro cases, it is intermittent. We've managed to mitigate _most_ instances by moving

[2022-10-11 21:21] seancorfield commented on #247
Here's the change we made in our fork to simply "ignore" requires that use `:as-alias` (at least in terms of loaded libs).

This isn't ideal (per discussions on Slack) because it prevents `poly` from checking that only interfaces are used in this case. A complete solution is likely to involve quite a bit of rework in Polylith because it currently assumes that the list of required nses can be used

[2022-10-18 13:54] TimoKramer commented on #212
Is it possible to go forward with this in any way without the custom command being finished?

[2022-10-23 21:23] vamem9z-Moses opened #254 "Cannot track down source of error - Don't know how to create ISeq from: java.lang.Long"
**Describe the bug**

Running poly info generates this error. I've been through every require in the project and I don't see anything abnormal Is there another way for me to trackdown this error?

#error {
 :cause Don't know how to create ISeq from: java.lang.Long
 :via
 [{:type java.lang.IllegalArgumentException
   :message Don't know how to create ISeq from: java.lang.Long
   :at [clojure.lang.R

[2022-10-25 06:26] tengstrand commented on #212
Yes, it is. It could for example be added as an alias in the root `deps.edn` file.

[2022-10-25 07:02] tengstrand commented on #247
I may have a simple solution to this. Will look into this today @seancorfield.

[2022-10-25 11:34] tengstrand commented on #247
https://clojure.atlassian.net/browse/CLJ-2123

[2022-10-26 06:06] tengstrand commented on #195
I will close this now.

[2022-10-26 06:06] #195 closed, assigned to furkan3ayraktar

[2022-10-28 07:18] tengstrand commented on #247
I have hopefully fixed the problem, and you can have a look at the [issue-247](https://github.com/polyfy/polylith/tree/issue-247) branch, @seancorfield.
If the code refers to another component interface using `:as-alias` then the `:interface-deps` will not be populated with that dependency, which solves the problem with circular dependencies. However, if the code refers to an implementing namespac

[2022-10-29 04:30] seancorfield commented on #247
That sounds like a pretty slick solution to the problem. I'll try to find time over the weekend to put together a branch based on `issue-247` but with our classloader and GC patches applied and then try it on Monday at work.

[2022-10-29 19:56] seancorfield commented on #247
OK, I merged your issue-247 branch into a new branch in my fork (as-alias-247) and then cherry-picked my classloader and GC commits onto that, and I've set a reminder for Monday for me to test that as work. I should have feedback for you pretty quickly at that point.

[2022-11-05 14:58] tengstrand commented on #254
I have implemented this in PR #258 @vamem9z-Moses.
Please check it out and see if it solves your problem, by using the `issue-254` branch, by using the latest SHA `81a916e262987d56e017179508e49c2f385544f7`.

[2022-11-05 18:59] seancorfield commented on #253
PR #256 helps with this.

[2022-11-05 18:59] seancorfield commented on #252
PR #257 helps with with this a bit.

[2022-11-05 18:59] seancorfield commented on #247
This fix seems to be working well. Thank you!

[2022-11-07 11:10] dmg46664 opened #259 "Poly check fails on ifc.cljc files"
**Describe the bug**

poly check seems to fail for clojurec interfaces.

[code]

See expected behaviour for more.

**To Reproduce**
Steps to reproduce the behavior:
1. check out https://github.com/dmg46664/problems/tree/main/0006_polylith_check
2. Run `poly check`

**Expected behavior**

`logging-jvm` is pure clojure.
`logging-nbb-console` is pure clojurescript.
`logging-node` has a clojurec inter

[2022-11-14 22:35] seancorfield opened #260 "External process test runner"
**Is your feature request related to a problem? Please describe.**
Polylith's classloader isolation approach is problematic for a number of reasons (issues and PRs have already been submitted/merged to mitigate some of these problems, including excessive heap usage on very large projects). Running each project's test suite in an isolated _subprocess_ would address all of these issues, once and for

[2022-11-14 22:42] seancorfield opened #261 "Classpath stability for tests"
**Describe the bug**
The classpath that `poly test` calculates is not stable/reproducible across machines, leading to unpredictable behavior of tests across multiple machines.

**To Reproduce**
I added debug output to the test orchestrator to print `all-paths` so that I could see the order being different on multiple machines. The Jetty libraries have changed their group/artifact over time but ret

[2022-11-23 11:58] hukka opened #264 "Better error when component has missing :deps"
If a component's deps.edn file doesn't have :deps defined, poly will error with
[code]

Only the stacktrace reveals that the problem is in components, and nothing says which component. Debugging would be much faster if the problem was handled explicitly instead of just letting the exception flow out.

[2022-11-24 15:49] TimoKramer commented on #212
Hi, I would start working on it if you don't mind. So you would imagine to have an alias similar to `:build` but something like `:build-mylib`? Where this alias is specific to one library that one wants to build and deploy/release a jar from?

I took a quick look into the build function and would implement it quite similar but amended somehow like this:
[code]
where `b/write-pom` and `b/copy-dir`

[2022-11-29 11:03] tengstrand commented on #212
Hi @TimoKramer!

Sorry for late answer.
Yes, this looks fine with me. Maybe `:build-lib` could be a better name for the alias?

Maybe @seancorfield or @furkan3ayraktar have ideas around this?

[2022-11-29 21:50] seancorfield commented on #212
I think the idea of publishing library JARs built from a Polylith repo that are not published in lock step with each other goes against the whole idea of using a monorepo in the first place, since you're reintroducing the "version hell" problems that separate libraries cause.

I don't think shading components (renaming nses) is a good idea -- getting it right in all cases is non-trivial and you're

[2022-11-30 09:54] TimoKramer commented on #212
That's an interesting approach. Just thinking if I got it all right...

Given we have a database released with different APIs like a library, an http- and a cli-API, the http- and cli-API rely on the library. When we changed e.g. the http-API then we would release the library and the http-base as well as the cli-base in lock-step with the library, correct?

Would that mean we treat the library as

[2022-11-30 17:22] seancorfield commented on #212
Yes, my approach would be to release 1.100.1 of all artifacts, then 1.100.2, etc (or whatever version scheme you prefer). But cut new releases of all of them whenever you cut a new release of any of them. That way, it's clear for users what versions of everything should be used together -- and the transitive dependencies would all match too.

That's not going to prevent dependency conflicts overal